<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/tab">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="item">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Il y a 3 min</p>
      </div>
      <div class="bar"></div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>Nouvel événement ajouté</p>
          <h4>Soirée du Siècle</h4>
        </div>
        <div class="round"></div>
      </div>
    </div>
    <div class="item">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Il y a 25 min</p>
      </div>
      <div class="bar"></div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>Nouvel événement ajouté</p>
          <h4>Soirée du Siècle</h4>
        </div>
        <div class="round"></div>
      </div>
    </div>
    <div class="item soiree">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Il y a 1h</p>
      </div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>STELLA est chaud pour un événement</p>
          <h4>Soirée du Siècle</h4>
        </div>
        <div class="icon">
          <img src="./../../assets/icon/fire 1.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Hier</p>
      </div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>Nouvel événement ajouté</p>
          <h4>ORANGE</h4>
        </div>
        <div class="icon">
          <img src="./../../assets/icon/actualize-arrows-couple-in-circle 1.png" alt="">
        </div>
      </div>
    </div>
    <div class="item soiree">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Depuis 2 jours</p>
      </div>
      <div class="bar"></div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>STELLA est chaud pour un événement</p>
          <h4>Soirée du Siècle</h4>
        </div>
        <div class="icon">
          <img src="./../../assets/icon/fire 1.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content-left">
        <h4>CATEGORIE</h4>
        <p>Depuis une semaine</p>
      </div>
      <div class="bar"></div>
      <div class="content-right">
        <img src="./../../assets/img/image 1.png" alt="">
        <div class="infos">
          <p>Nouvel événement ajouté</p>
          <h4>ORANGE</h4>
        </div>
        <div class="icon">
          <img src="./../../assets/icon/actualize-arrows-couple-in-circle 1.png" alt="">
        </div>
      </div>
    </div>
    <div class="button" *ngIf="!showAll" (click)="toggleButton()">
      <p>Voir tout</p>
    </div>
    <ng-container *ngIf="showAll">
      <div class="item soiree">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis 2 jours</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>STELLA est chaud pour un événement</p>
            <h4>Soirée du Siècle</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/fire 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis une semaine</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>Nouvel événement ajouté</p>
            <h4>ORANGE</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/actualize-arrows-couple-in-circle 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="item soiree">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis 2 jours</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>STELLA est chaud pour un événement</p>
            <h4>Soirée du Siècle</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/fire 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis une semaine</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>Nouvel événement ajouté</p>
            <h4>ORANGE</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/actualize-arrows-couple-in-circle 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="item soiree">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis 2 jours</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>STELLA est chaud pour un événement</p>
            <h4>Soirée du Siècle</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/fire 1.png" alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content-left">
          <h4>CATEGORIE</h4>
          <p>Depuis une semaine</p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
          <img src="./../../assets/img/image 1.png" alt="">
          <div class="infos">
            <p>Nouvel événement ajouté</p>
            <h4>ORANGE</h4>
          </div>
          <div class="icon">
            <img src="./../../assets/icon/actualize-arrows-couple-in-circle 1.png" alt="">
          </div>
        </div>
      </div>
    </ng-container>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>