ion-menu-button {
	color: #ffffff;
	margin-left: -9px;
}

ion-content {
	--background: #ffffff;
	--padding-bottom: 0;
}
.topbar {
	background: linear-gradient(
		to left,
		var(--ion-color-primary),
		rgba(0, 123, 255, 0.75)
	);
	padding: 0 0 15px;
	color: #ffffff;
	.header {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 -1px;
		border-bottom: 2px solid;
		margin: 0 15px;
		img {
			width: 30px;
		}
		.icon-left {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-right {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-center {
			overflow: hidden;
			border: 5px solid #245baa;
			border-radius: 50%;
			width: 47px;
			padding: -2px;
			height: 47px;
			position: relative;
			left: 8px;
			top: 16px;
			img {
				position: absolute;
				left: -135px;
				min-width: 300px;
			}
		}
	}
}

.body {
	padding-bottom: 40px;
	.item {
		display: flex;
		margin-bottom: 5px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		.content-left {
			text-align: center;
			border-right: 1px solid;
			height: 50px;
			width: 115px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			h4 {
				font-size: 12px;
				margin: 0;
				text-align: center;
				color: var(--ion-color-primary);
			}
			p {
				font-size: 8px;
				margin: 0;
			}
		}
		.content-right {
			display: flex;
			width: 100%;
			padding: 0 15px 0 10px;
			align-items: center;
			justify-content: space-between;
			img {
				width: 40px;
				height: 40px;
			}
			.infos {
				display: flex;
				flex-direction: column;
				align-items: center;
				p {
					font-size: 10px;
					margin: 0;
				}
				h4 {
					font-size: 16px;
					font-weight: bold;
					margin: 0;
					color: var(--ion-color-primary);
				}
			}
			.round {
				width: 15px;
				height: 15px;
				background: var(--ion-color-primary);
				border-radius: 50%;
			}
			.icon {
				img {
					width: 23px;
					height: 23px;
				}
			}
		}
	}
	.item:nth-child(2n) {
		background: #ffffff;
	}
	.soiree {
		h4 {
			color: var(--ion-color-warning) !important;
		}
	}
	.button {
		text-align: center;
		padding: 4px;
		font-size: 10px;
		background: #f3f3f3;
		p {
			margin: 0;
		}
	}
}
.update {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	background: #f3f3f3;
	padding: 8px;
	p {
		margin: 0;
		font-size: 14px;
		color: var(--ion-color-primary);
	}
}
