ion-menu-button {
	color: #ffffff;
	margin-left: -9px;
}

ion-content {
	--background: #ffffff;
	--padding-bottom: 0;
}
.topbar {
	position: fixed;
	width: 100%;
	background: linear-gradient(
		to left,
		var(--ion-color-primary),
		rgba(0, 123, 255, 0.75)
	);
	padding: 0 0 15px;
	color: #ffffff;
	.header {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 -1px;
		border-bottom: 2px solid;
		margin: 0 15px;
		img {
			width: 30px;
		}
		.icon-left {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-right {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-center {
			overflow: hidden;
			border: 5px solid #245baa;
			border-radius: 50%;
			width: 47px;
			padding: -2px;
			height: 47px;
			position: relative;
			left: 8px;
			top: 16px;
			img {
				position: absolute;
				left: -135px;
				min-width: 300px;
			}
		}
	}
}

.body {
	background: #ffffff;
	margin-top: 65px;
	.top {
		background: #ececec;
		padding: 10px 20px;
		margin: 0 -10px 10px;
		border-bottom: 2px solid var(--ion-color-warning);
		.header-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 14px;
			margin-bottom: 15px;
			.filter {
				display: flex;
				align-items: center;
				color: var(--ion-color-primary);
				img {
					width: 30px;
					height: 30px;
				}
				.form-group {
					margin-bottom: 0;
					select {
						background: transparent;
						border: none;
					}
					label {
						font-weight: 600;
						margin-bottom: 0;
						margin-right: 5px;
					}
				}
			}
			.button {
				button {
					font-size: 12px;
					border: 25px;
					border: 1px solid var(--ion-color-warning);
					padding: 1px 10px;
					border-radius: 25px;
					background: var(--ion-color-warning);
					box-shadow: 1px 3px 6px #9a9898;
				}
			}
		}
		.local {
			display: flex;
			justify-content: space-between;
			.region {
				color: black;
				display: flex;
				align-items: center;
				margin-right: 15px;
				h4 {
					margin-bottom: 0;
					font-size: 14px;
					font-weight: 600;
				}
				ion-item {
					--background: transparent;
					height: 25px;
					ion-input {
						font-size: 12px;
						--padding-top: 5px;
						--padding-bottom: 18px;
					}
				}
				.triangle {
					width: 0;
					height: 0;
					border-left: 7px solid transparent;
					border-top: 10px solid black;
					border-right: 7px solid transparent;
					margin-top: 5px;
				}
			}
			.city {
				color: black;
				display: flex;
				align-items: center;
				h5 {
					margin-bottom: 0;
					font-weight: 400;
					font-size: 14px;
				}
				ion-item {
					--background: transparent;
					height: 25px;
					ion-input {
						font-size: 12px;
						--padding-top: 5px;
						--padding-bottom: 18px;
					}
				}
				.triangle {
					width: 0;
					height: 0;
					border-left: 7px solid transparent;
					border-top: 10px solid black;
					border-right: 7px solid transparent;
					margin-top: 5px;
				}
			}
		}
		.price {
			color: #000000;
			display: flex;
			align-items: center;
			h4 {
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 600;
			}
			.range {
				ion-item {
					--background: transparent;
					--padding-bottom: 0;
					--padding-end: 0;
					--padding-start: 0;
					--padding-top: 0;
					margin: -10px 0 0px 39px;
					width: 310px;
					.min {
						font-size: 10px;
						top: 12px;
						position: absolute;
						left: 12px;
					}
					.value {
						position: absolute;
						top: 12px;
						left: 20%;
						font-size: 10px;
					}
					.max {
						position: absolute;
						font-size: 10px;
						right: 20px;
						top: 12px;
					}
					ion-range {
						--bar-background-active: #0ddf0d;
						--bar-height: 4px;
						--knob-background: #0ddf0d;
						--knob-size: 12px;
					}
				}
			}
		}
		.period {
			color: #000000;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			h4 {
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 600;
			}
			.dates {
				display: flex;
				justify-content: space-between;
				color: #000000;
				.date {
					display: flex;
					align-items: flex-end;
					h5 {
						font-size: 10px;
						margin: 0 5px 0 20px;
					}
					ion-item {
						--background: transparent;
						height: 25px;
						border-bottom: 1px solid;
						width: 80px;
						--padding-start: 0;
						--padding-end: 0;
						font-size: 10px;
						ion-label {
							color: #000000;
							font-size: 14px;
							margin-bottom: 15px;
						}
						ion-datetime {
							margin-bottom: 10px;
							padding-left: 2px;
							font-size: 12px;
						}
					}
					img {
						width: 15px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
.events_result {
	margin-bottom: 10px;
	.flex {
		display: flex;
		justify-content: center;
		.result {
			color: var(--ion-color-primary);
			border: 2px solid;
			width: fit-content;
			border-radius: 25px;
			font-size: 14px;
			font-weight: 600;
			padding: 1px 15px;
			box-shadow: 1px 3px 6px #9a9898;
		}
	}
}

// .events {
// 	border-bottom-left-radius: 22px;
//     border-bottom-right-radius: 22px;
//     box-shadow: 0 16px 20px #ADA9A9;
//     margin: 0 -10px 20px;
// 	.title {
// 		text-align: center;
// 		color: #000000;
// 		padding: 5px 0 0;
// 		margin: 5px 0;
// 		h5 {
// 			font-size: 17px;
// 			font-weight: 600;
// 		}
// 	}
// 	.event-img {
// 		padding: 10px;
// 		img {
// 			box-shadow: 0 3px 8px #bfbcbc;
// 		}
// 	}
// 	.event-icon {
// 		display: flex;
// 		justify-content: space-between;
// 		margin: 15px 0;
// 		padding: 5px 0;
// 		border-bottom: gray 1px solid;
// 		.icons {
// 			display: flex;
// 			img {
// 				width: 20px !important;
// 				height: 20px;
// 				margin: 0 15px;
// 			}
// 			div {
// 				width: 40px;
// 				overflow: hidden;
// 				height: 20px;
// 				max-width: none;
// 				img {
// 					min-height: 50px;
// 					min-width: 30px;
// 					margin-top: -4px;
// 				}
// 			}
// 		}
// 		.more-info {
// 			background: var(--ion-color-primary);
// 			color: #ffffff;
// 			font-size: 10px;
// 			border-radius: 40px;
// 			text-align: center;
// 			p {
// 				margin: 0;
// 				padding: 1px 5px;
// 			}
// 		}
// 	}
// 	.infos {
// 		display: flex;
// 		justify-content: space-between;
// 		padding: 0 25px;
// 		font-size: 12px;
// 		margin-bottom: 15px;
// 		.comments {
// 			color: var(--ion-color-primary);
// 			font-weight: bold;
// 		}
// 		.tri {
// 			color: var(--ion-color-primary);
// 		}
// 	}
// 	.add-comment {
// 		form {
// 			position: relative;
// 			padding-left: 20px;
// 			img {
// 				position: absolute;
// 				width: 36px;
// 				height: 32px;
// 				top: 10px;
// 				left: 35px;
// 				box-shadow: 0 3px 8px #928888;
// 				border-radius: 10px;
// 			}
// 		}
// 		#comment {
// 			width: 90%;
// 			border: 2px solid var(--ion-color-warning);
// 			border-radius: 20px;
// 			padding-left: 64px;
// 			color: black;
// 		}
// 		#comment::placeholder {
// 			color: var(--ion-color-primary);
// 		}
// 	}
// }

.event {
        background: #ffffff;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        box-shadow: 1px 6px 20px #ADA9A9;
        margin: 0 0 15px;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 5px 0;
            border: 0.5px solid rgba(0, 0, 0, 0.13);
            .header-left {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 25px;
                    margin: 0;
                }
                .event-info {
                    display: flex;
                    font-size: 12px;
                    align-items: center;
                    img {
                        width: 11px;
                        height: 11px;
                        margin: 5px;
                    }
                    img:first-child {
                        margin-left: 0;
                    }
                    .bar {
                        width: 1px;
                        background: black;
                        margin: 0 0 0 4px;
                        height: 12px;
                    }
                    a {
                        margin: 0 5px;
                        text-decoration: underline;
                        color: blue;
                        cursor: pointer;
                    }
                }
            }
            .header-right {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        p {
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            color: #B60808;
            margin: 0;
        }
        .event-img {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            width: 100vw;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 280px;
                margin: 0 0 -8px;
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icons {
                display: flex;
                .fire {
                    position: relative;
                    p {
                        margin: 0;
                        position: absolute;
                        left: 3px;
                        font-size: 10px;
                        color: var(--ion-color-primary);
                    }
                }
                .comment {
                    position: relative;
                    p {
                        margin: 0;
                        position: absolute;
                        left: -3px;
                        font-size: 10px;
                        color: var(--ion-color-primary);
                    }
                }
                img {
                    margin: 0 11px;
                }
            }
            .button {
                ion-button {
                    color: white;
                    --padding-bottom: 1px;
                    --padding-top: 0;
                    --padding-start: 5px;
                    --padding-end: 5px;
                    font-size: 12px;
                }
            }
        }
    }