<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notifications">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="top">
      <form #form="ngForm" (input)="onSubmit(form.value)">

        <div class="header-top">
          <div class="filter">
            <img src="./../../assets/icon/filter.png" alt="">
            <div class="form-group">
              <label for="">Filtre</label>
              <select name="categories" id="" ngModel>
                <option value="">Toutes les catégories</option>
                <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="button">
            <button (click)="ngOnInit()">Réinitialiser</button>
          </div>
        </div>

        <div class="local">
          <div class="region">
            <h4>Région</h4>
            <ion-item>
              <ion-input type="text" name="region" ngModel></ion-input>
            </ion-item>
            <div class="triangle"></div>
          </div>
          <div class="city">
            <h5>Ville</h5>
            <ion-item>
              <ion-input type="text" name="city" ngModel></ion-input>
            </ion-item>
            <div class="triangle"></div>
          </div>
        </div>

        <div class="price">
          <h4>Prix</h4>
          <div class="range">
            <ion-item lines="none">
              <div class="min">{{price['lower']}}F</div>
              <div class="value">{{price['upper']}}F</div>
              <div class="max">250000F</div>
              <ion-range name="price" dualKnobs="true" min="0" max="25000" step="1000" pin="true" [(ngModel)]="price"
                (ionChange)="onSubmit(form.value)" ngModel>
              </ion-range>
            </ion-item>
          </div>
        </div>

        <div class="period">
          <h4>Période</h4>
          <div class="dates">
            <div class="date">
              <h5>Du</h5>
              <ion-item>
                <ion-datetime displayFormat="DD MM YYYY" display-timezone="utc" name="dateDebut" ngModel required>
                </ion-datetime>
              </ion-item>
              <img src="./../../assets/icon/calendar (1).png" alt="">
            </div>
            <div class="date">
              <h5>AU</h5>
              <ion-item>
                <ion-datetime displayFormat="DD MM YYYY" display-timezone="utc" (ionChange)="onSubmit(form.value)"
                  name="dateFin" ngModel required>
                </ion-datetime>
              </ion-item>
              <img src="./../../assets/icon/calendar (1).png" alt="">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class='events_result'>

      <div class="flex">
        <div class="result">
          Résultats ({{events?.length}})
        </div>
      </div>
    </div>
    <!-- <div class="events" *ngFor="let event of events">

      <div class="title">
        <h5>{{event.name}}</h5>
      </div>
      <div class="event-img">
        <img [src]="generateUrl(event?.poster.md)" alt="">
      </div>
      <div class="event-icon">
        <div class="icons">
          <img src="./../../assets/img/fire.png" alt="">
          <img src="./../../assets/img/share.png" alt="">
          <div class="">
            <img src="./../../assets/img/contacts.png" alt="">
          </div>
          <img src="./../../assets/img/payment.png" alt="">
        </div>
        <div class="more-info">
          <p>Voir plus</p>
        </div>
      </div>
      <div class="infos">
        <div class="comments">
          0 commentaires
        </div>
        <div class="tri">
          trier par:
          <select>
            <option value="">Les plus anciens</option>
          </select>
        </div>
      </div>
      <div class="add-comment">
        <form>
          <img src="./../../assets/img/user.jpg" alt="">
          <textarea name="comment" id="comment" placeholder="Ajouter un commentaire" ngModel></textarea>
        </form>
      </div>
    </div> -->

    <div class="event" *ngFor="let event of eventList">
      <div class="event-img" [style.background]="'url(' + generateUrl(event.poster?.md) + ')'">
        <div *ngIf="!event.poster?.md">Pas de poster pour cette image</div>
      </div>
      <div class="footer">
        <div class="icons">
          <div class="fire">
            <p>10</p>
            <img src="./../../../assets/icon/fire (4) 1.png" alt="">
          </div>
          <div class="comment" routerLink="/events/{{event._id}}/comments">
            <p>10</p>
            <img src="./../../../assets/icon/comment 1.png" alt="">
          </div>
          <div class="discussion" routerLink="/events/event">
            <img src="./../../../assets/icon/discussion (5) 1.png" alt="">
          </div>
          <div class="share">
            <img src="./../../../assets/icon/share (2) 1.png" alt="">
          </div>
        </div>
        <div class="button">
          <ion-button class="btn" shape="round" routerLink="/events/biling/{{event._id}}">Acheter/Reserver</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>