<ion-content>
  <ion-grid>
    <ion-row routerLink="/account/lost-card" (click)="closePopover()">
      <ion-col>
        Déclarer ma carte
      </ion-col>
      <ion-col size="2">
        <!-- <img src="./../../../assets/icon/securit.png" alt=""> -->
        <ion-icon name="stop-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <!--<ion-row routerLink="/account/password" (click)="closePopover()">-->
    <ion-row routerLink="/start-reset-password" (click)="closePopover()">
      <ion-col>
        Modifier mot de passe
      </ion-col>
      <ion-col size="2">
        <ion-icon name="pencil"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row (click)="logout()">
      <ion-col>
        Déconnexion
      </ion-col>
      <ion-col size="2">
        <ion-icon name="close"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row routerLink="/account/closing-card" (click)="closePopover()">
      <ion-col>
        Cloturer mon compte
      </ion-col>
      <ion-col size="2">
        <ion-icon name="calculator-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>