
ion-content {
    --background: rgba(0, 0, 0, 0.8);
    --color: #ffffff;
    font-size: 12px;
    ion-grid {
        ion-row {
            ion-col {
                padding: 0 5px 0 10px;
            }
            ion-col:last-child {
                display: flex;
                justify-content: flex-end;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}