<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/naws">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="flexbox">

      <div class="profil">
        <div class="profil-img">
          <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          <img src="./.././../assets/img/pp.svg" alt="">
        </div>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-input placeholder="Nom"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Prénom"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>Date de naissance</ion-label>
              <ion-datetime displayFormat="DD MM YYYY" name="birthday" display-timezone="utc" required ngModel>
              </ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Genre</ion-label>
              <ion-select placeholder="Homme" name="gender" ngModel>
                <ion-select-option value="female">Femme</ion-select-option>
                <ion-select-option value="male">Homme</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-input placeholder="Ville"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Quartier"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-input type="number" placeholder="Numéro de tél"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input type="email" placeholder="Adresse email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/account">Annuler</ion-button>
        <ion-button class="btn" shape="round" routerLink="/account">Valider</ion-button>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>