ion-content {
  --background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(34, 170, 243, 0.9)), url('./../../../assets/img/bg.jpeg') top center / cover;
}
.body {
  position: relative;
  padding: 0 0 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 30%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.chip {
  display: flex;
  justify-content: center;
  ion-chip {
    margin: 5px;
    padding: 19px;
    border-radius: 30px;
    background: #000;
    color: #79f179;
  }
  ion-label {
    font-size: 20px;
  }
}

.signin {
  padding: 40px 30px 0;
}

.hidden {
  display: none;
}
.items {
  margin: 30px 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-radius: 5px;
  padding: 1px;
  height: 40px;
  margin-bottom: 20px;
}
.item:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-radius: 5px;
  padding: 1px;
  height: 40px;
  margin-bottom: 0!important;
}
ion-item {
  width: 100%;
  background: #FFFFFF;
  height: 40px;
  font-size: 14px;
  text-align: center;
  margin: 0px;
}

ion-input {
  --placeholder-color: var(--ion-color-primary);
  --placeholder-opacity: 1;
  font-size: 13px;
}

ion-icon {
  font-size: 30px;
  color: #c4c4c4;
}
ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}
.btn-center {
  text-align: center;
  div {
    background: var(--ion-color-primary);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    color: #FFFFFF;
    width: 100%;
  }
}
.btn-signin {
  background: var(--ion-color-warning);
  color: var(--ion-color-primary);
  margin: 20px 0;
}
button {
  background: var(--ion-color-primary);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  color: #FFFFFF;
  width: 100%;
}

.note {
  display: flex;
  justify-content: space-between;
}
.note ion-note {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}
.note-signup {
  text-align: center;
  margin: 20px 0 0;
  ion-note {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
  }
}
ion-note a {
  color: #FFC412;
}
.remember {
  display: flex;
  div {
    width: 20px;
    height: 20px;
    margin: -2px 9px 0 0;
    border: 1px solid #FFFFFF;
    img {
      margin-top: -8px;
    }
  }
}

.socials {
  margin: 20px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook{
  display: flex;
  margin-right: 5px;
  padding-right: 5px;
  ion-img {
    width: 45px;
    height: 45px;
  }
  p {
    font-size: 16px;
    color: #4267B2;
    margin: 0;
    line-height: 43px;
    margin-left: 5px;
  }
}

.google {
  display: flex;
  margin-left: 5px;
  padding-left: 5px;
  ion-img {
    width: 45px;
    height: 45px;
  }
  p {
    font-size: 16px;
    color: #DB4437;
    margin: 0;
    line-height: 43px;
    margin-left: 5px;
  }
}

input {
  border: none;
  width: 260px;
}
input::placeholder {
  color: var(--ion-color-primary);
}
input:invalid.ng-touched  {
  border-left: 8px solid red;
  padding-left: 5px;
  // box-shadow: 0 0 0 0.2rem rgba(255, 0, 51, 0.25);
}

.alert {
  margin: 0 27px;
  padding: 5px;
  p {
    margin: 0;
  }
}

.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}
