<ion-content>
  <div class="body">
    <header>
      <div class="logo">
        <img src="./../../../assets/img/clavem.png" alt="" [ngClass]="{'hidden': imageVisibled === true}">
        <div [ngClass]="{'chips': true, 'hidden': chipsVisibled === true}">
          <div class="chip">
            <ion-chip>
              <ion-label color="success">Concert</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="tertiary">Atelier</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="danger">Evénement pro</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="warning">Soirée</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="tertiary">Festival</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="danger">Evénement sportif</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="warning">Conférence</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="success">Salon</ion-label>
            </ion-chip>
          </div>
        </div>

      </div>
    </header>

    <div class="signin">
      <div class="btn-center">
        <div>Connexion</div>
      </div>

      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="items">
          <div class="item">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="person-outline"></ion-icon>
            </ion-button>
            <ion-item lines="none">
              <ion-input type="text" name="email" placeholder="Adresse email / numéro de téléphone" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="item">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
            </ion-button>
            <ion-item lines="none">
              <ion-input type="password" placeholder="Mot de passe" name="password" ngModel required></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>

        <div class="btn-center">
          <button type="submit" class="btn btn-signin" [disabled]="form.invalid">Se connecter</button>
        </div>
        <div class="note">
          <div class="remember">
            <div (click)="onRememberChecked()">
              <img src="./assets/icon/validate-yellow.svg" alt="" *ngIf="rememberChecked">
            </div>
            <ion-note (click)="onRememberChecked()">Se souvenir de moi</ion-note>
          </div>
          <ion-note (click)="forgotPassword()">Mot de passe oublier ?</ion-note>
        </div>
        <div class="note-signup">
          <ion-note>Vous n'avez pas encore de compte ? <a routerLink="/register">Inscrivez-vous</a></ion-note>
        </div>
      </form>
    </div>
  </div>

</ion-content>
