ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
    .flexbox {
        .flexbox-content {
            padding: 30px 20px 0 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                background: var(--ion-color-warning);
                h4 {
                    font-size: 19px;
                    padding: 15px 25px;
                    margin: 0;
                }
            }
            .carte-gelee {
                margin: 20px 0 0;
            }
            .choice {
                color: black;
                display: flex;
                align-items: flex-end;
                margin: 0 0 20px;
                p {
                    margin-bottom: 2px;
                    font-size: 12px;
                }
                ion-item {
                    --background: transparent;
                    --padding-start: 5px;
                    width: 190px;
                    ion-select {
                        font-size: 12px;
                        --padding-start: 0px;
                        --padding-bottom: 0;
                        --padding-end: 5px;
                        margin: 0 0 -12px;
                    }
                }
                .triangle {
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-top: 10px solid black;
                    border-right: 7px solid transparent;
                    margin-bottom: 8px;
                    margin-left: -23px;
                }
            }
            i {
                font-size: 11px;
                color: red;
            }
            .radios {
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin: 10px 0 40px;
                .yes {
                    position: relative;
                    width: 23px;
                    height: 23px;
                    background: var(--ion-color-primary);
                    border-radius: 50%;
                    input {
                        margin: 5px;
                        width: 1px;
                    }
                    label {
                        margin: 0;
                        font-size: 12px;
                    }
                    input:checked + .checkmark {
                        position: absolute;
                        top: 6px;
                        left: 7px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: var(--ion-color-warning);
                    }
                }
            }
            .card-number {
                position: relative;
                p {
                    font-size: 12px;
                    margin: 0 0 -10px;
                }
                ion-item {
                    --background: transparent;
                    --padding-start: 5px;
                    margin: 0 30px;
                    ion-input {
                        font-size: 16px;
                        --padding-bottom: 0;
                        margin: 0 0 -5px;
                    }
                }
                ion-icon {
                    position: absolute;
                    right: 15px;
                }
            }
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
            margin: 50px 0 0;
            ion-button {
                --padding-start: 30px;
                --padding-end: 30px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                --background: var(--ion-color-warning);
                font-size: 12px;
                --box-shadow: 1px 3px 5px #87898c;
            }
            ion-button:first-child {
                --background: #b50202;
                color: #ffffff;
            }
        }
    }
}

.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    p {
        margin: 8px 0;
        color: var(--ion-color-primary);
    }
}