<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="flexbox">
      <div class="flexbox-content">
        <div class="title">
          <h4>Déclaration une carte perdue</h4>
        </div>
        <p class="carte-gelee">Votre carte sera gelè après action</p>
        <div class="choice">
          <p>Choisir une carte</p>
          <ion-item>
            <ion-label></ion-label>
            <ion-select placeholder="" name="gender" ngModel>
              <ion-select-option value="female">Femme</ion-select-option>
              <ion-select-option value="male">Homme</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <div class="triangle"></div> -->
        </div>
        <p><i>Voulez-vous transférer tous vos accès vers une autre carte ?</i></p>

        <div class="radios">
          <div class="yes">
            <input type="radio" name="transfer" id="exampleRadios1" value="option1" checked>
            <div class="checkmark"></div>
            <label for="exampleRadios1">Oui</label>
          </div>
          <div class="yes">
            <input type="radio" name="transfer" id="exampleRadios2" value="option2">
            <div class="checkmark"></div>
            <label for="exampleRadios2">Non</label>
          </div>
        </div>

        <div class="card-number">
          <p>Entrez le numéro de carte ou scannez votre carte</p>
          <ion-item>
            <ion-input></ion-input>
          </ion-item>
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </div>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/account">Annuler</ion-button>
        <ion-button class="btn" shape="round" routerLink="/account">Valider</ion-button>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>