<ion-content>
	<div class="topbar">
		<div class="header">
			<div class="icon-left">
				<ion-buttons slot="start">
					<ion-menu-button menu="main-menu"></ion-menu-button>
				</ion-buttons>
				<img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation" />
			</div>
			<div class="icon-center">
				<img src="./../../assets/img/Icone-centrale.png" alt="" />
			</div>
			<div class="icon-right">
				<img src="./../../assets/img/transfer.png" alt="" routerLink="/news" />
				<img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()" />
			</div>
		</div>
	</div>
	<div class="body">
		<div class="event">
			<div class="event-img"></div>
			<div class="footer">
				<div class="icons">
					<div class="fire">
						<p>10</p>
						<img src="./../../../assets/icon/fire (4) 1.png" alt="" routerLink="/events/event-list" />
					</div>
					<div class="comment">
						<p>10</p>
						<img src="./../../../assets/icon/comment 1.png" alt="" routerLink="/events/comments" />
					</div>
					<div class="discussion">
						<img src="./../../../assets/icon/discussion (5) 1.png" alt="" />
					</div>
					<div class="share">
						<img src="./../../../assets/icon/share (2) 1.png" alt="" />
					</div>
				</div>
				<div class="button">
					<ion-button class="btn" shape="round" routerLink="/events/biling">Acheter/Reserver</ion-button>
				</div>
			</div>
		</div>

		<div class="msg-organizer">
			<h4>ENVOYER UN MESSAGE A L'ORGANISATEUR</h4>
			<div class="profil">
				<ion-item lines="none">
					<ion-avatar>
						<img src="./../../../assets/img/pp.svg" alt="" />
					</ion-avatar>
					<ion-label>
						Jeylaani Njaay
					</ion-label>
				</ion-item>
			</div>
		</div>
		<div class="message">
			<p>Votre message</p>
			<ion-textarea rows="3" cols="20" placeholder="Saisissez votre texte"></ion-textarea>
		</div>
		<ion-button class="btn" shape="round">Envoyer</ion-button>
	</div>
	<div class="update">
		<p>Mise à jour disponible</p>
	</div>
</ion-content>