ion-menu-button {
	color: #ffffff;
	margin-left: -9px;
}

ion-content {
	--background: #ffffff;
	--padding-bottom: 0;
}
.topbar {
	background: linear-gradient(
		to left,
		var(--ion-color-primary),
		rgba(0, 123, 255, 0.75)
	);
	padding: 0 0 15px;
	color: #ffffff;
	.header {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 -1px;
		border-bottom: 2px solid;
		margin: 0 15px;
		img {
			width: 30px;
		}
		.icon-left {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-right {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-center {
			overflow: hidden;
			border: 5px solid #245baa;
			border-radius: 50%;
			width: 47px;
			padding: -2px;
			height: 47px;
			position: relative;
			left: 8px;
			top: 16px;
			img {
				position: absolute;
				left: -135px;
				min-width: 300px;
			}
		}
	}
}

.body {
	.event {
		background: #ffffff;
		border-bottom-left-radius: 22px;
		border-bottom-right-radius: 22px;
		box-shadow: 1px 6px 20px #ada9a9;
		margin: 0 0 15px;
		.event-img {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
			background: url('./../../../assets/img/image\ événement.png') bottom;
			height: 175px;
		}
		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.icons {
				display: flex;
				.fire {
					position: relative;
					p {
						margin: 0;
						position: absolute;
						left: 3px;
						font-size: 10px;
						color: var(--ion-color-primary);
					}
				}
				.comment {
					position: relative;
					p {
						margin: 0;
						position: absolute;
						left: -3px;
						font-size: 10px;
						color: var(--ion-color-primary);
					}
				}
				img {
					margin: 0 11px;
				}
			}
			.button {
				ion-button {
					color: white;
					--padding-bottom: 1px;
					--padding-top: 0;
					--padding-start: 5px;
					--padding-end: 5px;
					font-size: 12px;
				}
			}
		}
	}
	.msg-organizer {
		padding: 0 25px;
		h4 {
			font-size: 15px;
			background: var(--ion-color-warning);
			text-align: center;
			font-weight: 500;
		}
		.profil {
			ion-item {
				--padding-start: 0;
				--padding-top: 5px;
				--padding-end: 0;
				ion-avatar {
					width: 100px;
					height: 100px;
					margin-right: 5px;
				}
				ion-label {
					text-align: center;
					margin: 0;
					font-size: 24px;
				}
			}
		}
	}
	.message {
		padding: 10px;
		border-top: 0.5px solid rgba(0, 0, 0, 0.13);
		margin: 10px 0 0;
		p {
			margin: 0;
			font-size: 15px;
			font-weight: 200;
		}
		ion-textarea {
			--background: #fafafc;
			--padding-start: 10px;
			--placeholder-font-weight: 200;
			font-size: 18px;
		}
	}
	ion-button {
		color: white;
		font-size: 14px;
		--padding-bottom: 0;
		--padding-top: 0;
		--padding-start: 25px;
		--padding-end: 25px;
	}
}

ion-footer {
	ion-toolbar {
		--background: #f4f4f4;
		--padding-top: 0;
		--padding-bottom: 0;
		.item {
			display: flex;
			position: relative;
			.link {
				position: absolute;
				width: 20px;
				bottom: 15px;
				right: 5px;
			}
			ion-input {
				width: 80%;
				--padding-start: 10px;
				--background: #f9fafc;
				font-size: 18px;
			}
			.img-send {
				width: 16%;
				background: var(--ion-color-warning);
				text-align: center;
				padding: 8px;
				cursor: pointer;
				img {
					height: 37px;
				}
			}
			.img-send:active:focus {
				background: var(--ion-color-warning-shade);
			}
		}
	}
}
.update {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	background: #f3f3f3;
	padding: 8px;
	p {
		margin: 0;
		font-size: 14px;
		color: var(--ion-color-primary);
	}
}
