<div class="cards">
  <div class="card" *ngFor="let reservation of reservations; let i = index"
    routerLink="/events/event/{{reservation.event._id}}">
    <div class="content-left">
      <h5>{{reservation.event.name}}</h5>
      <p class="date">
        {{reservation.event.startDate | date : 'dd/MM/yyyy'}}
      </p>
    </div>
    <div class="bar"></div>
    <div class="content-center">
      <div>
        <p class="number">
          Trans N° {{i+1}}
        </p>
        <p class="vip">
          Accès {{reservation.ticket.name}}
        </p>
        <p class="card-number">
          30% Réservé
        </p>
      </div>
    </div>
    <div class="bar"></div>
    <div class="content-right">
      <div class="rest">
        Reste = 4 500 F
      </div>
      <div class="complet">
        <p>Compléter votre réservation</p>
        <div>
          <img src="./../../../assets/icon/reservation (1).png" alt="">
        </div>
      </div>
      <p class="date-reservation">
        <i>Avant le 10/07/2020</i>
      </p>
    </div>
  </div>
</div>
<div class="update">
  <p>Mise à jour disponible</p>
</div>