.cards {
    padding: 5px;
    margin: 10px 0;
    .card {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
        align-items: center;
        background: #e5e5e5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 0 0 15px;
        border: none;
        .content-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 120px;
            h5 {
                font-weight: 600;
                font-size: 12px;
                margin: 0 0 6px;
            }
            .date {
                font-size: 12px;
                margin: 0;
            }
        }
        .bar {
            width: 1px;
            height: 55px;
            background: #000000;
            margin: 0px 10px;
        }
        .content-center {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .number {
                margin: 0 0 0;
                font-size: 10px;
                color: var(--ion-color-primary);
            }
            .vip {
                margin: 0;
                color: #000000;
                font-size: 12px;
            }
            .card-number {
                margin: 0;
                font-size: 10px;
                color: var(--ion-color-danger);
            }
            .img {
                margin: 10px 0 0 30px;
                img {
                    width: 30px;
                    transform: rotate(-39.89deg);
                }
            }
        }
        .content-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            .rest {
                font-size: 10px;
                color: var(--ion-color-danger);
            }
            .complet {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin: 0;
                    font-size: 6px;
                }
                img {
                    width: 50px;
                    height: 40px;
                    margin: -8px 0;
                }
            }
            .date-reservation {
                color: var(--ion-color-danger);
                font-size: 8px;
                font-weight: 500;
                margin: 0 5px;
            }
        }
    }
}
.update {
        position: absolute;
        text-align: center;
        right: 0;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
        p {
            margin: 8px;
            color: var(--ion-color-primary);
        }
    }
