<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/tab">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="no-data" *ngIf="!events?.length">Aucun événement trouvé dans cette catégorie!</div>
    <div class="event" *ngFor="let event of events">
      <div class="header">
        <div class="header-left">
          <h3>{{event.name}}</h3>
          <div class="event-info">
            <img src="./../../../assets/icon/calendar-small.png" alt="">
            {{event.startDate | date:'dd MMMM yyyy'}}
            <div class="bar"></div>
            <img src="./../../../assets/icon/clock.png" alt="">
            {{event.startDate | date:'hh'}}h {{event.startDate | date:'mm'}}
            <div class="bar"></div>
            <a (click)="presentPopover(event)"><i>Lire la description</i></a>
          </div>
        </div>
        <div class="header-right">
          <img src="./../../../assets/icon/group.png" alt="">
        </div>
      </div>
      <p>{{event.catchyPhrase}}</p>
      <div class="event-img" [style.background]="'url(' + generateUrl(event.poster?.md) + ')'">
        <div *ngIf="!event.poster?.md">Pas de poster pour cette image</div>
      </div>
      <div class="footer">
        <div class="icons">
          <div class="fire">
            <p>10</p>
            <img src="./../../../assets/icon/fire (4) 1.png" alt="">
          </div>
          <div class="comment" routerLink="/events/{{event._id}}/comments">
            <p>10</p>
            <img src="./../../../assets/icon/comment 1.png" alt="">
          </div>
          <div class="discussion" routerLink="/events/event">
            <img src="./../../../assets/icon/discussion (5) 1.png" alt="">
          </div>
          <div class="share">
            <img src="./../../../assets/icon/share (2) 1.png" alt="">
          </div>
        </div>
        <div class="button">
          <ion-button class="btn" shape="round" routerLink="/events/biling/{{event._id}}">Acheter/Reserver</ion-button>
        </div>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>