ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}
ion-content {
    --background: #E5E5E5;
    .progress-bar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background: transparent;
        margin: 10px;
        .billet {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: #fff;
            margin: 0 2px;
        }
        .billet.active {
            background: var(--ion-color-warning);
        }
    }
    .slides {
        margin: 10px 0 10px;
        padding: 5px !important;
        .slide {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 100%;
            height: 171px;
            background: url('./../../assets/img/card.png');
            div {
                position: relative;
                width: 100%;
                height: 100%;
                .qr-code {
                    position: absolute;
                    left: 0;
                    width: 130px;
                }
                .tickting {
                    position: absolute;
                    top: 60px;
                    right: 20px;
                    color: white;
                    font-weight: 600;
                    font-size: 14px;
                }
                .left {
                    position: absolute;
                    left: 25px;
                    bottom: 3px;
                    height: fit-content;
                    width: fit-content;
                    .code {
                        outline: none;
                        margin: 0;
                        font-size: 11px;
                        color: var(--ion-color-warning);
                        text-decoration: underline;
                    }
                    .hour {
                        margin: 0;
                        color: white;
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
                h3 {
                    position: absolute;
                    bottom: 5px;
                    right: 2px;
                    font-size: 12px;
                    padding: 3px 11px;
                    margin: 0;
                    background: var(--ion-color-warning);
                    border-radius: 25px;
                }
                .logo {
                    position: absolute;
                    right: 0;
                    width: 80px;
                }
                .notes {
                    position: absolute;
                    bottom: -50px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 20px;
                    width: 100%;
                    align-items: center;
                    .etoile {
                        display: flex;
                        color: white;
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        span {
                            margin: 0 3px;
                        }
                        img {
                            margin: 5px 3px 0;
                            width: 12px;
                            height: 12px;
                        }
                    }
                    .number {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
            .slide-img2 {
                background: rgba(0, 0, 0, 0.6);
                border-radius: 10px;

            }
        }
    }
    .search {
        position: relative;
        img {
            position: absolute;
            right: 4%;
        }
    }

    .content {
        margin: 40px 0 0;
        .topbar {
            display: flex;
            justify-content: space-between;
            padding: 0;
            background: transparent;
            .item {
                color: #8A8A8A;
                cursor: pointer;
                p {
                    margin: 0 15px;
                    font-size: 18px;
                }
            }
            .item.active {
                color: black;
            }
        }
    }
    ion-fab {
        bottom: 60px;
        ion-icon {
            color: #FFFFFF;
            font-size: 30px;
        }
    }
}