<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="progress-bar">
    <div [ngClass]="{'billet': true, 'active': currentIndex == i}" *ngFor="let card of cards; let i = index"></div>
  </div>
  <ion-slides #slide [options]="slideOpts" class="slides" (ionSlideDidChange)="onSlide(slide)">
    <ion-slide class="slide" *ngFor="let card of cards; let i=index">
      <div>
        <img src="./../../assets/img/logo-clavem.svg" alt="" class="logo">
        <div class="notes">
          <p class="etoile">
            <span>{{ card.number }}</span>
          </p>
          <p class="number">05/22</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="search">
    <img src="./../../../assets/icon/Vectorsearch.svg" alt="">
  </div>
  <div class="content">
    <div class="topbar">
      <div [ngClass]="{'item': true, 'active': acces}" (click)="toggleAcces()">
        <p>Mes accès</p>
      </div>
      <div [ngClass]="{'item': true, 'active': reservation}" (click)="toggleReservation()">
        <p>Mes Réservations</p>
      </div>
    </div>

    <div class="content_body">
      <ng-container *ngIf="acces">
        <app-acces></app-acces>
      </ng-container>
      <ng-container *ngIf="reservation">
        <app-reservation></app-reservation>
      </ng-container>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark" routerLink="/cards/lost-card">
        <img src="./../../assets/icon/baby.svg" alt="" style="width: 30px;">
      </ion-fab-button>
      <ion-fab-button color="dark" routerLink="/cards/confirm-qr-code">
        <img src="./../../assets/icon/qr-code.svg" alt="" style="width: 30px;">
      </ion-fab-button>
      <ion-fab-button color="dark" routerLink="/cards/order-card">
        <img src="./../../assets/icon/buy 2.png" alt="" style="width: 25px;">
      </ion-fab-button>
      <ion-fab-button color="dark" routerLink="/cards/associate">
        <img src="./../../assets/icon/pay.svg" alt="" style="width: 25px;">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>