<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <ng-container *ngIf="showCamera" >
      <ion-icon class="frame" name="scan-sharp"></ion-icon>
    </ng-container>
    <div class="body-content" *ngIf="!showCamera">
      <div class="title">
        <img src="./../../../assets/icon/payment.png" alt="">
        <h4>Associé une carte</h4>
      </div>
      <div class="card-number">
        <p>Entrez le numéro de carte ou scannez votre carte</p>
        <ion-item>
          <ion-input type="number" [(ngModel)]="cardNumber"></ion-input>
        </ion-item>
        <ion-icon name="camera-outline" (click)="scancode()"></ion-icon>
      </div>

      <div class="buttons">
        <ion-button class="btn" shape="round" (click)="createCard()">Valider</ion-button>
      </div>
    </div>
  </div>
</ion-content>