<ion-content>
  <div class="body">
    <div class="btn-center">
      <div>Créer un compte</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="items">
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="person-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="text" formControlName="lastName" placeholder="Nom" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="person-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="text" formControlName="firstName" placeholder="Prénom" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="email" placeholder="Adresse email" formControlName="email" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          </ion-button>
          <ion-item>
            <ion-label>Date de naissance</ion-label>
            <ion-datetime displayFormat="DD MM YYYY" formControlName="birthDate" display-timezone="utc" required>
            </ion-datetime>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="male-female-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-label>Genre</ion-label>
            <ion-select formControlName="gender">
              <ion-select-option value="F">Femme</ion-select-option>
              <ion-select-option value="M">Homme</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="text" placeholder="Ville" formControlName="city" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="home-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="text" placeholder="Quartier" formControlName="district" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="call-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="number" placeholder="Téléphone" formControlName="phoneNumber" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="password" placeholder="Mot de passe" formControlName="password" required></ion-input>
          </ion-item>
        </div>
        <div class="item">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
          </ion-button>
          <ion-item lines="none">
            <ion-input type="password" placeholder="Confirmer mot de passe" formControlName="confirmPassword" required>
            </ion-input>
          </ion-item>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
      </div>

      <div class="btn-center">
        <button type="submit" class="btn btn-signin" [disabled]="form.invalid">S'inscrire</button>
      </div>
      <div class="socials">
        <button type="button" class="btn-facebook">Facebook</button>
        <button type="button" class="btn-google">Google</button>
      </div>
      <div class="note">
        <ion-note>Vous avez déjà un compte ? <a routerLink="/login">Connectez-vous</a></ion-note>
      </div>
      <div class="note">
        <div class="accepted">
          <input type="checkbox" formControlName="conditionAccepted" required (change)="onAcceptCondition()">
          <div>
            <img src="./assets/icon/validate-yellow.svg" alt="" *ngIf="acceptCondition">
          </div>
          <ion-note>J'ai lu et j'accepté les conditions</ion-note>
        </div>
      </div>
    </form>
  </div>
  <div class="note">
    <ion-note class="condition">Condition d'utilisation et politique de confidentialité de l'utilisateur</ion-note>
  </div>
</ion-content>