ion-content {
  --background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(34, 170, 243, 0.9)), url('./../../../assets/img/bg.jpeg') top center / cover;
}
.body {
  position: relative;
  padding: 20px 75px 10px;
}

.hidden {
  display: none;
}
.items {
  margin: 25px 0 0;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c4c4;
    border-right: none;
    border-radius: 5px;
    padding: 1px;
    height: 30px;
    margin-bottom: 12px;
    ion-item {
      width: 100%;
      --background: #c4c4c4;
      height: 30px;
      font-size: 14px;
      margin: 0px;
      ion-label {
        color: var(--ion-color-primary);
        font-size: 12px;
      }
      ion-input {
        --placeholder-color: var(--ion-color-primary);
        --placeholder-opacity: 1;
        font-size: 12px;
      }
    }
    ion-icon {
      font-size: 25px;
      color: #FFFFFF;
    }
  }
  .item:last-child{
    margin-bottom: 0!important;
  }
}

ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}
.btn-center {
  text-align: center;
  div {
    background: var(--ion-color-warning);
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 2px;
    margin: 10px 0;
    color: var(--ion-color-primary);
    width: 100%;
  }
}
.btn-signin {
  background: var(--ion-color-primary);
  color: #FFFFFF;
  margin: 15px 0;
}
button {
  background: var(--ion-color-warning);
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
  margin: 10px 0;
  color: var(--ion-color-primary);
  width: 100%;
}

.note {
  margin: 8px -20px 0;
  text-align: center;
}
.note ion-note {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}
.note ion-note.condition {
  font-size: 10px;
  margin-top: 50px;
}

ion-note a {
  color: #FFC412;
}
.accepted {
  position: relative;
  display: flex;
  justify-content: center;
  div {
    width: 20px;
    height: 20px;
    margin: -2px 9px 0 0;
    border: 1px solid #FFFFFF;
    img {
      margin-top: -8px;
    }
  }
}


.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
}

.btn-facebook {
  background: #4267B2;
  color: #FFFFFF;
  width: 115px;
  font-size: 15px;
  margin: 0;
  padding: 3px;
}

.btn-google {
  background: #DB4437;
  color: #FFFFFF;
  width: 115px;
  margin: 0;
  padding: 3px;
  font-size: 15px;
}

.accepted input {
  position: absolute;
  width: 1px;
  left: 34px;
  top: 1px;
}

input {
  border: none;
  width: 150px;
  background: #c4c4c4;
}
input::placeholder {
  color: var(--ion-color-primary);
}
input:invalid.ng-touched  {
  border-left: 8px solid red;
  padding-left: 5px;
  // box-shadow: 0 0 0 0.2rem rgba(255, 0, 51, 0.25);
}

.alert {
  margin: 0 27px;
  padding: 5px;
  p {
    margin: 0;
  }
}

