ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
    color: #ffffff;
    background: #000;
    padding: 30px 0 0;
    .body-content {
        padding: 30px 50px;
        .title {
            h3{
                font-size: 15px;
                font-weight: 600;
                text-align: center;
                margin: 0;
            }
            p {
                font-size: 15px;
                text-align: center;
                color: var(--ion-color-warning);
            }
        }
        .center {
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
        }
        .qr-code {
            width: 100%;
            height: 100%;
        }
    }
}

.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    p {
        margin: 8px 0;
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}