<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="body-content">
      <div class="title">
        <h3>QR CODE TEMPORAIRE</h3>
        <p>48H restant</p>
      </div>
      <div class="center" *ngIf="textQRCode">
        <qrcode class="qr-code" [qrdata]="textQRCode" [size]="250" [level]="'M'"></qrcode>
      </div>
    </div>
    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>