<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="alerte">
    <img src="./../../../assets/img/alert .png" alt="">
  </div>
  <div class="alerte-info">
    <p>Cette action supprimera définitivement votre compte.</p>
    <p>Vos données ne seront pas récupérables !</p>
  </div>
  <div class="confirm">
    Etes-vous sure de vouloir effectuer cette action ?
  </div>
  <div class="buttons">
    <ion-button class="btn" shape="round" routerLink="/account">Annuler</ion-button>
    <ion-button class="btn" shape="round" routerLink="/account">Valider</ion-button>
  </div>
</ion-content>