ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ffffff;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #e5e5e5;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.alerte {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 25px;
    img {
        width: 95px;
        height: 95px;
    }
}

.alerte-info {
    text-align: center;
    font-size: 15px;
    p {
        margin: 0;
    }
}

.confirm {
    color: #FC0D0D;
    margin-top: 70px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    ion-button {
        --padding-start: 30px;
        --padding-end: 30px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --background: var(--ion-color-warning);
        font-size: 12px;
        --box-shadow: 1px 3px 5px #87898c;
    }
    ion-button:first-child {
        --background: #FC0D0D;
        color: #ffffff;
    }
}