<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/notification">
        <img src="./../../assets/icon/share.svg" alt="" routerLink="/news">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="body-content">
      <ion-icon *ngIf="showCamera" class="frame" name="scan-sharp"></ion-icon>
    </div>
    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>