ion-content {
	color: var(--ion-color-primary);
}

.events {
	margin-top: 65px !important;
	display: flex;
	overflow: scroll;
	margin: 10px 0;
	.event-infos {
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 10px;
		margin-right: 10px;

		img {
			border-radius: 10px;
			height: 100px;
			width: 100px;
			max-width: none;
		}
		.info {
			position: absolute;
			text-align: center;
			font-size: 11px;
			padding: 1px 0;
			color: white;
			bottom: 0;
			right: 0;
			left: 0;
			background: rgba(64, 58, 58, 0.7);
			p {
				margin-bottom: 1px;
				font-weight: bold;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.recent-events {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
	box-shadow: 1px 1px 8px #d0c7c7;
	.card-img {
		padding: 12px 25px;
	}
	.title {
		background: var(--ion-color-warning);
		color: var(--ion-color-primary);
		font-size: 14px;
		text-align: center;
	}
}
