<div class="events">
  <div class="recent-events" *ngIf="!recentEvents.length">Aucun événement à venir</div>
  <div class="event-infos" *ngFor="let event of recentEvents">
    <img src={{generateUrl(event.poster.sm)}} alt="">
    <div class="info">
      <p>{{event.startDate | date:'EEEE dd MMMM'}}</p>
      <p>A {{event.startDate | date:'hh'}}h {{event.startDate | date:'mm'}}</p>
    </div>
  </div>
</div>

<!--<ion-grid>
  <ion-row>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/microphone (1).png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/microphone (1).png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/microphone (1).png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="card" routerLink="/events/event-list">
        <div class="card-img">
          <img src="./../../../assets/img/video.png" alt="">
        </div>
        <div class="title">
          Cinéma
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>-->