<ion-content>
	<div class="top">
		<div class="header">
			<div class="icon-left">
				<ion-buttons slot="start">
					<ion-menu-button menu="main-menu"></ion-menu-button>
				</ion-buttons>
				<img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
			</div>
			<div class="icon-center">
				<img src="./../../assets/img/Icone-centrale.png" alt="">
			</div>
			<div class="icon-right">
				<img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
				<img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
			</div>
		</div>
	</div>

	<div class="body">
		<div class="connection">
			<div class="title">
				<i>Cette partie est réservée aux événements privés !</i>
			</div>
			<div class="subtitle">
				Assurez vous d'obtenir le code de l'organisateur
			</div>
			<div class="infos">
				<form #form="ngForm" (ngSubmit)="onSubmit(form)">
					<img src="./../../assets/icon/password.png" alt="">
					<ion-item>
						<ion-input type="number" name="code" placeholder="Entrez le code d'un événement" ngModel
							required>
						</ion-input>
					</ion-item>
					<button type="submit" class="btn" [disabled]="form.invalid">Valider</button>
				</form>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		Mise à jour disponible
	</ion-toolbar>
</ion-footer>