ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    .top {
        background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
        padding: 0 0 30px;
        color: #FFFFFF;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }

    .body {
        background: #ffffff;
        .connection {
            background: #f3f4f7;
            color: #000000;
            height: calc(88vh - 30px);
            min-height: 400px;
            width: 100%;
            text-align: center;
            padding: 40px 0 0;
            .title {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .subtitle {
                font-size: 10px;
            }
            .infos {
                padding-top: 60px;
                img {
                    width: 60px;
                }
                ion-item {
                    margin: 40px 50px;
                    --background: transparent;
                    height: 43px;
                    ion-input {
                        --padding-bottom: 0;
                        --placeholder-color: #000000;
                        --placeholder-opacity: 1;
                        text-align: center;
                        font-size: 13px;
                        margin-left: 15px;
                    }
                }
                button {
                    background: rgb(36, 170, 3);
                    border-radius: 25px;
                    padding: 0px 25px;
                    font-size: 14px;
                    box-shadow: 0 3px 5px #8c8c8c;
                }
            }
        }
        .update {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--ion-color-primary);
            font-size: 14px;
            height: 30px;
            p {
                margin-bottom: 0;
            }
        }
    }
}

ion-toolbar {
    text-align: center;
    color: var(--ion-color-primary);
    height: 50px;
}