ion-content {
    color: var(--ion-color-primary);
}

.events {
    margin-top: 65px !important;
    display: flex;
    overflow: scroll;
    margin: 10px 0;
    .event-infos {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-right: 10px;

        img {
            border-radius: 10px;
            height: 100px;
            width: 100px;
            max-width: none;
        }
        .info {
            position: absolute;
            text-align: center;
            font-size: 11px;
            padding: 1px 0;            
            color: white;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(64, 58, 58, 0.7);
            p {
                margin-bottom: 1px;
                font-weight: bold;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .item {
        color: #C4C4C4;
        cursor: pointer;
        transition: color 0.3s;
        p {
            display: inline-block;
            margin: 0 25px;
        }
    }

    .item.active {
        color: var(--ion-color-primary);
        font-weight: bold;
        border: 1px solid;
        border-radius: 25px;
    }
    .item:hover {
        color:  var(--ion-color-primary);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    .card {
        width: 28%;
        height: 90px;
        box-shadow: 1px 1px 8px #d0c7c7;
        margin: 10px 8px;
        .card-img {
            padding: 12px 25px;
        }
        .title {
            background: var(--ion-color-warning);
            color: var(--ion-color-primary);
            font-size: 14px;
            text-align: center;
        }
    }
}