<div class="events">
  <div class="event-infos" *ngFor="let event of events">
    <img [src]="generateUrl(event.poster?.md)" alt="">
    <div class="info">
      <p>{{event.startDate | date : 'EEEE dd MMMM yyyy'}}</p>
      <p>A {{event.startDate | date : 'hh'}}h {{event.startDate | date : 'mm'}}</p>
    </div>
  </div>
</div>