<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="body-content">
      <div class="title">
        <h4>
          <img src="./../../../assets/icon/salary.svg" alt="">
          Paiement
        </h4>
      </div>

      <div class="type-of-payment">
        <div class="icons">
          <div [ngClass]="{'visa': true, 'selected': visa}" (click)="visaSelected()">
            <div class="visa-img">
              <img src="./../../../assets/img/visa .png" alt="">
            </div>
          </div>
          <div [ngClass]="{'orange-money': true, 'selected': orangeMoney}" (click)="orangeSelected()">
            <div class="orange-money-img">
              <img src="./../../../assets/img/orange-money.png" alt="">
            </div>
          </div>
          <div [ngClass]="{'free-money': true, 'selected': freeMoney}" (click)="freeSelected()">
            <div class="free-money-img">
              <img src="./../../../assets/img/free-money.png" alt="">
            </div>
          </div>
          <div [ngClass]="{'expresso': true, 'selected': expresso}" (click)="expressoSelected()">
            <div class="expresso-img">
              <img src="./../../../assets/img/expresso.png" alt="">
            </div>
          </div>
        </div>
        <div class="infos">
          <div [ngClass]="{'selected': !visa}">
            <ion-item>
              <ion-input placeholder="Numero de la carte*"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Numero du titulaire de la carte*"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Date d'expiration</ion-label>
              <ion-datetime displayFormat="DD MM YYYY" display-timezone="utc" required></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-input placeholder="CVV*"></ion-input>
            </ion-item>
          </div>
          <div [ngClass]="{'selected': !orangeMoney}">
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
          </div>
          <div [ngClass]="{'selected': !freeMoney}">
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
          </div>
          <div [ngClass]="{'selected': !expresso}">
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Numero de téléphone"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/cards">Valider</ion-button>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>