ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 91vh;
    .body-content {
        padding: 30px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            background: #2876B2;
            width: 215px;
            h4 {
                font-size: 19px;
                margin: 0;
                padding: 10px;
                color: #ffffff;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                text-align: center;
            }
            img {
                width: 30px;
                margin-right: 10px;
            }
        }
        .type-of-payment {
            margin: 50px 0;
            display: flex;
            width: 100%;
            .icons {
                .selected {
                    background: var(--ion-color-warning);
                }
                .visa {
                    width: 100px;
                    height: 45px;
                    padding: 5px 10px;
                    margin-bottom: 20px;
                    .visa-img {
                        background: white;
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        border: 1px solid #0C2461;
                        width: 80px;
                        height: 35px;
                        padding: 5px;
                    }
                }
                .orange-money {
                    width: 100px;
                    height: 45px;
                    padding: 5px 10px;
                    margin-bottom: 20px;
                    .orange-money-img {
                        background: white;
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        border: 1px solid #FE7900;
                        width: 80px;
                        height: 35px;
                        padding: 1px 5px;
                    }
                }
                .free-money {
                    width: 100px;
                    height: 45px;
                    padding: 5px 10px;
                    margin-bottom: 20px;
                    .free-money-img {
                        background: white;
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        border: 1px solid #FD0D0D;
                        width: 80px;
                        height: 35px;
                        padding: 5px;
                    }
                }
                .expresso {
                    width: 100px;
                    height: 45px;
                    padding: 5px 10px;
                    margin-bottom: 20px;
                    .expresso-img {
                        background: white;
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        border: 1px solid #8F6EAD;
                        width: 80px;
                        height: 35px;
                        padding: 1px 5px;
                    }
                }
            }
            .infos {
                margin: 0 15px;
                display: flex;
                align-items: center;
                width: 100%;
                div {
                    width: 100%;
                }
                .selected {
                    display: none;
                }
                ion-item {
                    --background: transparent;
                    --padding-start: 5px;
                    --padding-en: 20px;
                    width: 100%;
                    font-size: 10px;
                    --border-color:  var(--ion-color-warning);
                    ion-input {
                        --placeholder-color: var(--ion-color-primary);
                        --placeholder-opacity: 1;
                        --padding-bottom: 0;
                        margin-bottom: -15px;
                    }
                    ion-label {
                        margin: 0 0 -25px;
                        color: var(--ion-color-primary);
                    }
                    ion-datetime {
                        --padding-bottom: 0;
                        margin: 0 0 -13px;
                    }
                }
            }
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0;
            .livraison {
                text-align: center;
                font-size: 12px;
            }
            ion-button {
                --padding-start: 30px;
                --padding-end: 30px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                font-size: 12px;
                --background: var(--ion-color-warning);
                --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    width: 100%;
    p {
        margin: 8px 0;
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}