<div class="topbar">
  <div class="header">
    <div class="icon-left">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
    </div>
    <div class="icon-center">
      <img src="./../../assets/img/Icone-centrale.png" routerLink="/notification">
    </div>
    <div class="icon-right">
      <img src="./../../assets/img/transfer.png" routerLink="/news">
      <img src="./../../assets/icon/share.svg" alt="">
    </div>
  </div>
</div>