<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <div class="bar"></div>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="person-outline"></ion-icon>
      <div class="bar"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
    </ion-tab-button>

    <ion-tab-button tab="group">
      <div class="number">5</div>
      <ion-icon name="people-outline"></ion-icon>
      <div class="bar"></div>
    </ion-tab-button>

    <ion-tab-button (click)="presentPopover($event)">
      <ion-icon name="menu"></ion-icon>
      <div class="bar"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>