ion-tab-bar {
    height: 65px;
}

.tab-selected {
        .bar {
        height: 4px;
        background: var(--ion-color-primary);
        width: 45%;
        margin: 0 0 5px;
    }
}

ion-tab-button {
    ion-icon {
        width: 25px;
        margin-top: 3px;
    }
    .number {
        position: absolute;
        top: 0;
        width: 18px;
        background: var(--ion-color-primary);
        color: var(--ion-color-warning);
        height: 18px;
        text-align: center;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
    }
}

ion-fab-button {
    width: 60px;
    height: 60px;
    margin: 0 0 4px;
}