<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="event">
      <div class="event-img" [style.backgroundImage]="'url('+ generateUrl(event?.poster?.md) +')'">
      </div>
      <div class="footer">
        <div class="icons">
          <div class="fire">
            <p>10</p>
            <img src="./../../../assets/icon/fire (4) 1.png" alt="" routerLink="/events/event-list">
          </div>
          <div class="comment">
            <p>10</p>
            <img src="./../../../assets/icon/comment 1.png" alt="">
          </div>
          <div class="discussion">
            <img src="./../../../assets/icon/discussion (5) 1.png" alt="" routerLink="/events/organizer">
          </div>
          <div class="share">
            <img src="./../../../assets/icon/share (2) 1.png" alt="">
          </div>
        </div>
        <div class="button">
          <ion-button class="btn" shape="round" routerLink="/events/biling">Acheter/Reserver</ion-button>
        </div>
      </div>
    </div>

    <p>Commentaires</p>
    <div class="comments" *ngFor="let comment of comments">
      <div class="avatar">
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-note>{{comment.createdAt | date }}</ion-note>
      </div>
      <div class="comment">
        <p>{{comment.message}}</p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <form class="item">
      <ion-input placeholder="Laissez un commentaire" [(ngModel)]="newComment" name="newComment">
        <img src="./../../../assets/icon/link 1.png" alt="" class="link">
      </ion-input>
      <div class="img-send" (click)="postComment()">
        <img src="./../../assets/icon/send.svg" alt="">
      </div>
    </form>
  </ion-toolbar>
</ion-footer>