ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ffffff;
    --padding-bottom: 0;
}
.topbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    margin-top: 65px !important;
    .event {
        background: #ffffff;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        box-shadow: 1px 6px 20px #ADA9A9;
        margin: 0 0 15px;
        .event-img {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            height: 175px;
        }
        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icons {
                display: flex;
                .fire {
                    position: relative;
                    p {
                        margin: 0;
                        position: absolute;
                        left: 3px;
                        font-size: 10px;
                        color: var(--ion-color-primary);
                    }
                }
                .comment {
                    position: relative;
                    p {
                        margin: 0;
                        position: absolute;
                        left: -3px;
                        font-size: 10px;
                        color: var(--ion-color-primary);
                    }
                }
                img {
                    margin: 0 11px;
                }
            }
            .button {
                ion-button {
                    color: white;
                    --padding-bottom: 1px;
                    --padding-top: 0;
                    --padding-start: 5px;
                    --padding-end: 5px;
                    font-size: 12px;
                }
            }
        }
    }
    p {
        font-size: 15px;
        font-weight: bold;
    }
    .comments {
        display: flex;
        padding: 0 10px;
        margin: 20px 0;
        .avatar {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            ion-avatar {
                width: 35px;
                height: 35px;
                img {
                    width: 33px;
                    height: 33px;
                }
            }
            ion-note {
                font-size: 10px;
                width: 50px;
                text-align: center;
            }
        }
        .comment {
            text-align: justify;
            background: linear-gradient(0deg, rgba(32, 89, 155, 0.01), rgba(32, 89, 155, 0.01)), rgba(32, 89, 155, 0.02);
            border-radius: 12px;
            padding: 2px 7px;
            p {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --background: #f4f4f4;
        --padding-top: 0;
        --padding-bottom: 0;
        .item {
            display: flex;
            position: relative;
            .link {
                position: absolute;
                width: 20px;
                bottom: 15px;
                right: 5px;
            }
            ion-input {
                width: 80%;
                --padding-start: 10px;
                --background: #F9FAFC;
                font-size: 18px;
            }
            .img-send {
                width: 16%;
                background: var(--ion-color-warning);
                text-align: center;
                padding: 8px;
                cursor: pointer;
                img {
                    height: 37px;
                }
            }
            .img-send:active:focus {
                background: var(--ion-color-warning-shade);
            }
            
        }
    }
}