<div class="cards">
    <div class="card" *ngFor="let reservation of reservations; let i = index"
        routerLink="/events/event/{{reservation.event._id}}">
        <div class="content-left">
            <h5>{{reservation.event.name}}</h5>
            <p class="date">
                {{reservation.event.startDate | date : 'dd/MM/yyyy'}}
            </p>
            <p class="hour">
                {{reservation.event.startDate | date : 'hh'}}h {{reservation.event.startDate | date : 'mm'}}
            </p>
        </div>
        <div class="bar"></div>
        <div class="content-right">
            <div>
                <p class="number">
                    Trans N° {{i+1}}
                </p>
                <p class="vip">
                    Accès {{reservation.ticket.name}}
                </p>
                <p class="card-number">
                    Carte N° {{reservation.card.number}}
                </p>
            </div>
            <div class="img">
                <img src="./../../../assets/icon/theatre.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="update">
    <p>Mise à jour disponible</p>
</div>