
<ion-content>
  <div class="body">
    <header>
      <div class="logo">
        <img src="./../../../assets/img/clavem.png" alt="" [ngClass]="{'hidden': imageVisibled === true}">
        <div [ngClass]="{'chips': true, 'hidden': chipsVisibled === true}">
          <div class="chip">
            <ion-chip>
              <ion-label color="success">Concert</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="tertiary">Atelier</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="danger">Evénement pro</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="warning">Soirée</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="tertiary">Festival</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="danger">Evénement sportif</ion-label>
            </ion-chip>
          </div>
          <div class="chip">
            <ion-chip>
              <ion-label color="warning">Conférence</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label color="success">Salon</ion-label>
            </ion-chip>
          </div>
        </div>

      </div>
    </header>
    <div class="container">
      <button class="btn-signup" routerLink="/register">Inscription</button>
      <button class="btn-signin" routerLink="/login">Connexion</button>
    </div>
  </div>
</ion-content>
