.body {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(34, 170, 243, 0.9)),url('./../../../assets/img/bg.jpeg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 30%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.chip {
  display: flex;
  justify-content: center;
  ion-chip {
    margin: 5px;
    padding: 19px;
    border-radius: 30px;
    background: #000;
    color: #79f179;
  }
  ion-label {
    font-size: 20px;
  }
}
.container {
  padding: 160px 50px 0;
}
.btn-signup {
  width: 100%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  border-radius: 30px;
}
.btn-signin {
  width: 100%;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: var(--ion-color-primary);
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  border-radius: 30px;
}
.hidden {
  display: none;
}
