<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Groupes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content routerLink="/tab/conversation">
      <h2>Gotham City Police Department</h2>
      <div class="subtitle">5 minutes ago <div></div> 4 members</div>
      <div class="avatar">
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content routerLink="/tab/conversation">
      <div class="number">3</div>
      <h2>Waynes Enterprises</h2>
      <div class="subtitle">2 ago <div></div> 5 members</div>
      <div class="avatar">
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content routerLink="/tab/conversation">
      <h2>Falcone Crime Family</h2>
      <div class="subtitle">Saturday <div></div> 7 members</div>
      <div class="avatar">
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content routerLink="/tab/conversation">
      <div class="number">3</div>
      <h2>Arkham Asylum</h2>
      <div class="subtitle">Saturday <div></div> 2 members</div>
      <div class="avatar">
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
        <ion-avatar>
          <img src="./../../../assets/img/pp.svg" alt="">
        </ion-avatar>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
