ion-back-button {
    color: #000000;
}

ion-title {
    text-align: center;
}
ion-card {
    box-shadow: 0 3px 14px #d4cfcf;
    margin: 15px;
}
ion-card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .number {
        position: absolute;
        width: 18px;
        background: var(--ion-color-primary);
        color: var(--ion-color-warning);
        height: 20px;
        text-align: center;
        padding: 1px 0;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        top: 7px;
        right: 10px;
        box-shadow: 0px 3px 10px grey;
            }
    h2 {
        color: #000000;
    }
    .subtitle {
        font-size: 12px;
        color: #9a9a9a;
        div {
            display: inline-block;
            width: 3px;
            height: 3px;
            background: #9a9a9a;
            border-radius: 50%;
            margin: 0 2px 2px;
        }
    }
    .avatar {
        display: flex;
        margin: 15px 0;
        ion-avatar {
            width: 25px;
            height: 25px;
            margin: 0 2px;
        }
    }
}