ion-content {
  --background: linear-gradient(to top, #2253ff, rgba(0, 123, 255, 0.35));
}

.header {
  background: linear-gradient(to right, #feaf0a, #302b4e, #feaf0a);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}


.header-pp {
  background: linear-gradient(to bottom, #feaf0a, rgba(255, 255, 255, 0));
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profil {
  box-shadow: 1px 1px 8px #4c4b4b;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  img {
    min-width: 340px;
    margin-top: -23px;
    margin-left: -102px;
  }
}

.info-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
  margin-top: 15px;
  text-align: center;
  h6 {
    font-weight: bold;
    font-size: 14px;
  }
  p {
    font-size: 10px;
    font-weight: bold;
  }
}

ion-list {
  background: transparent;
  margin-top: 20px;
  ion-menu-toggle {
    background: transparent;
    ion-item {
      position: relative;
      --background: transparent;
      --color: #FFFFFF;
      padding-right: 15px;
      height: 40px;
      ion-label {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
      }
      ion-icon {
        color: var(--ion-color-warning);
        margin-right: 30px;
      }
      .item-inner ion-icon {
        color: #FFFFFF;
      }
      .number {
        display: none;
        position: absolute;
        right: 15px;
        padding: 0px 5px;
        font-size: 12px;
        color: black;
        background: var(--ion-color-warning);
      }
    }
    ion-item.active {
      .number {
        display: inline-block;
      }
    }
  }
}

.footer {
  text-align: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  p {
    margin-bottom: 2px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight:  600;
  }
  div:last-child {
    border-top: 2px solid var(--ion-color-warning);
    padding: 4px 0 0;
  }
}