<ion-app>
  <ion-menu menu-id="main-menu" contentId="content">

    <ion-content>
      <div class="header">
        <div class="header-pp">
          <div class="profil">
            <img src="./../assets/img/young-black-student-man.jpg" alt="">
          </div>
        </div>
        <div class="info-user">
          <h6>Professeur Sakho</h6>
          <p class="connected">Déconnexion</p>
        </div>
      </div>

      <ion-list>
        <ion-menu-toggle>
          <ion-item *ngFor="let p of pages; let i = index" [routerLink]="p.url" routerDirection="root"
            routerLinkActive="active" detail>
            <ion-icon slot="start" name="{{p.icon}}"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
            <div class="number">{{i+1}}</div>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div class="footer">
        <div>
          <p>Condition d'utilisation</p>
        </div>
        <div>
          <p>Politique de confidentialité</p>
          <p>A propos</p>
        </div>
      </div>
    </ion-content>
    <ion-footer>

    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>