ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

.topbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 30px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.header-content {
    margin-top: 80px !important;
    padding: 5px;
    background: #ececec;
    color: #000000;
    border-bottom: 2px solid var(--ion-color-primary);
    .content {
        display: flex;
        justify-content: space-between; 
        .content-left {
            img {
                margin: -19px -25px -15px;
                width: 125px;   
            }
            .compt-number {
                font-size: 9px;
                font-weight: 600;   
            }
        }
        .content-right {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                font-size: 22px;
                margin-bottom: 2px;     
            }
            h2 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 0;
            }
            h5 {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
}
.body {
    padding: 5px 8px;
    ion-button {
        --padding-bottom: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
        --padding-top: 10px;
        height: 25px;
        --background: #2323a7;
        font-size: 14px;
        color: #FFFFFF;
    }
    .for-me {
        border: 2px solid var(--ion-color-primary);
        margin: 10px 0;
        padding: 5px 8px;
        .content-top {
            display: flex;
            justify-content: space-between;
            select {
                background: transparent;
                border-color: transparent;
                border-bottom-color: #c4c4c4;
                color: #c4c4c4;
                font-size: 11px;
            }
            .form-check-inline {
                margin-right: 0;
                ion-checkbox {
                    --size: 16px;
                    --background: var(--ion-color-primary);
                    --checkmark-color: var(--ion-color-warning);
                    --checkmark-width: 4px;
                    margin-right: 10px;
                }
                ion-label {
                    font-size: 10px;
                    color: #c4c4c4;
                }
            }
        }
        
        .alerte {
            font-size: 9px;
            padding: 0 5px;
            margin-bottom: -16px;
            background: var(--ion-color-warning);
        }
        .number {

            ion-item {
                position: relative;
                --background: transparent;
                margin: 0 50px;
                height: 45px;
                ion-input {
                    --padding-bottom: 0;
                    text-align: center;
                    margin: 0 0 -18px;
                    font-size: 10px;
                }
                ion-icon {
                    position: absolute;
                    right: 2px;
                    font-size: 17px;
                    bottom: 1px;
                }
            }
        }
    }
    .for-other {
        display: flex;
        justify-content: space-between;
        .number {
            width: 115px;
            ion-input {
                font-size: 10px;
                --padding-bottom: 2px;
                --padding-top: 0;
                --padding-start: 10px;
                margin: 12px 0px 0px;
            }
        }
        .number::after {
            content: '';
            display: block;
            height: 1px;
            width: 60px;
            border: 1px solid #c4c4c4;
            margin-bottom: -22px;
            margin-left: 20px;
        }
    }
    .for-other-body {
        border: 2px solid var(--ion-color-primary);
        margin: 10px 0;
        padding: 5px 8px 10px;
        ion-input {
            background: transparent;
            border-color: transparent;
            border-bottom-color: #c4c4c4;
            color: #c4c4c4;
            font-size: 11px;
        }
        .content-top {
            display: flex;
            justify-content: space-between;
            select {
                background: transparent;
                border-color: transparent;
                border-bottom-color: #c4c4c4;
                color: #c4c4c4;
                font-size: 11px;
            }
            .form-check-inline {
                margin-right: 0;
                width: 110px;
                ion-checkbox {
                    --size: 16px;
                    --background: var(--ion-color-primary);
                    --checkmark-color: var(--ion-color-warning);
                    --checkmark-width: 4px;
                    margin-right: 10px;
                }
                ion-input {
                    --padding-top: 0px;
                    --padding-end: 0px;
                    --padding-bottom: 0px;
                    --padding-start: 0;
                    border-bottom: 0.5px solid;
                }
            }
        }
    }
    .amount-total {
        text-align: end;
        font-size: 15px;
        color: #da0318;
        margin: 30px 5px;
        font-weight: 600;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        ion-button {
            --background: var(--ion-color-primary);
            --padding-bottom: 10px;
            --padding-start: 30px;
            --padding-end: 30px;
            --padding-top: 9px;
        }
        ion-button:first-child {
            --background: #0f940b;
            --padding-start: 15px;
            --padding-end: 15px;
        }
    }
}
.amount {
            text-align: end;
            font-size: 10px;
            color: #28a745;
            margin: 10px 0;
            font-weight: 600;
        }
.update {
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ececec;
    p {
        margin: 8px;
        color: var(--ion-color-primary);
    }
}