<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>

  <div class="header-content">
    <div class="content">
      <div class="content-left">
        <img src="./../../assets/img/logo-clavem.svg" alt="">
        <div class="compt-number">
          N° de compte : {{currentUser?._id}}
        </div>
      </div>
      <div class="content-right">
        <h3>Facturation</h3>
        <div>
          <h5>{{event?.startDate | date : 'dd/MM/yyyy'}}</h5>
        </div>
        <h2>{{event?.name}}</h2>
      </div>
    </div>
  </div>
  <div class="body">
    <ion-button class="btn">PAYER POUR MOI</ion-button>

    <div class="for-me">
      <div class="content-top">
        <select name="cardNumber" [(ngModel)]="cardNumber">
          <option [value]="null">Carte</option>
          <option *ngFor="let card of currentUser?.cards" [value]="card._id">{{card.number}}</option>
        </select>
        <select name="ticket" [(ngModel)]="ticketId">
          <option [value]="null">Type de ticket</option>
          <option *ngFor="let ticket of event?.tickets" [value]="ticket._id">{{ticket.name}}</option>
        </select>
        <div class="form-check-inline">
          <ion-checkbox></ion-checkbox>
          <ion-label>Code promotionnel</ion-label>
        </div>
      </div>

      <div class="amount">
        MONTANT DU TICKET: {{ticket(ticketId) ? ticket(ticketId)?.price : 0}} F CFA
      </div>

      <div class="alerte">
        Vous avez droit à un (1) accompagnateur de genre féminin qui a moins de 18 ans !
      </div>
      <div class="number">
        <ion-item>
          <ion-input type="number" name="code" placeholder="Entrez son numéro de carte ou scannez" ngModel required>
          </ion-input>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="for-other">
      <ion-button class="btn">POUR UN AUTRE (S)</ion-button>
      <div class="number">
        <ion-input placeholder="Préciser le nombre"></ion-input>
      </div>
    </div>
    <div class="for-other-body">
      <div class="content-top">
        <div>
          <div class="form-check-inline">

            <ion-input [(ngModel)]="cardForOther" placeholder="Carte" type="number"></ion-input>
          </div>
        </div>
        <select name="ticket" [(ngModel)]="ticketForOther">
          <option [value]="null">Type de ticket</option>
          <option *ngFor="let ticket of event?.tickets" [value]="ticket._id">{{ticket.name}}</option>
        </select>
        <div class="form-check-inline">
          <ion-checkbox checked></ion-checkbox>
          <ion-input></ion-input>
        </div>
      </div>
      <div class="amount">
        MONTANT DU TICKET: {{ticket(ticketForOther) ? ticket(ticketForOther)?.price : 0}} F CFA
      </div>
    </div>
    <div class="amount-total">
      TOTAL: {{totalPrice()}}F CFA
    </div>
    <div class="buttons">
      <ion-button class="btn" (click)="reserve()">Réservation</ion-button>
      <ion-button class="btn" routerLink="/events/private-event">Payer</ion-button>
    </div>
  </div>

  <div class="update">
    <p>Mise à jour disponible</p>
  </div>
</ion-content>