ion-menu-button {
	color: #ffffff;
	margin-left: -9px;
}

ion-content {
	--background: linear-gradient(
		to left,
		var(--ion-color-primary),
		rgba(0, 123, 255, 0.75)
	);
	--color: #ffffff;
	ion-slides {
		--bullet-background: #ffffff;
	}
	.header {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 -1px;
		border-bottom: 2px solid;
		margin: 0 15px 30px;
		img {
			width: 30px;
		}
		.icon-left {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-right {
			display: flex;
			justify-content: space-between;
			width: 100px;
			height: 35px;
			margin: 7px 0;
			img {
				width: 30px;
			}
		}
		.icon-center {
			overflow: hidden;
			border: 5px solid #245baa;
			border-radius: 50%;
			width: 47px;
			padding: -2px;
			height: 47px;
			position: relative;
			left: 8px;
			top: 16px;
			img {
				position: absolute;
				left: -135px;
				min-width: 300px;
			}
		}
	}
}

.body {
	background: #ffffff;
	padding: 10px 0;
	.baniere {
		border-top: 3px solid var(--ion-color-warning);
		border-bottom: 3px solid var(--ion-color-warning);
		img {
			height: 200px;
			width: 100%;
		}
	}
	.description {
		padding: 5px 30px;
		background: #e2e2e2;
		margin: 10px 0;
		color: var(--ion-color-primary);
		box-shadow: 0 2px 10px #a2a0a0;
		.text {
			font-size: 10px;
			text-align: justify;
		}
		.icons {
			display: flex;
			justify-content: center;
			margin: 10px 0 0;
			img {
				width: 20px !important;
				height: 20px;
				margin: 0 15px;
			}
			div {
				width: 40px;
				overflow: hidden;
				height: 20px;
				max-width: none;
				img {
					min-height: 50px;
					min-width: 30px;
					margin-top: -4px;
				}
			}
		}
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 5px;
		.card {
			width: 45%;
			height: 160px;
			margin: 10px 8px;
			box-shadow: 1px 3px 10px #8a8a8a;
			.card-img {
				height: 118px;
				img {
					height: 120px;
					width: 100%;
				}
			}
			.title {
				background: var(--ion-color-warning);
				color: var(--ion-color-primary);
				font-size: 13px;
				text-align: center;
				padding-bottom: 2px;
				.icons {
					display: flex;
					justify-content: center;
					img {
						width: 20px !important;
						height: 20px;
						margin: 0 15px;
					}
					div {
						width: 40px;
						overflow: hidden;
						height: 20px;
						max-width: none;
						img {
							min-height: 50px;
							min-width: 30px;
							margin-top: -4px;
						}
					}
				}
			}
		}
	}
}
