<ion-content>
  <div class="header">
    <div class="icon-left">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
    </div>
    <div class="icon-center">
      <img src="./../../assets/img/Icone-centrale.png" alt="">
    </div>
    <div class="icon-right">
      <img src="./../../assets/img/transfer.png" alt="">
      <img src="./../../assets/icon/share.svg" alt="">
    </div>
  </div>

  <div class="body">
    <ng-container *ngIf="upPub">

      <div class="baniere">
        <img [src]="generateUrl(upPub.attachment)" alt="Image de la pub">
      </div>
  
      <div class="description">
        <div class="text">
          <div>{{upPub.title}}</div>
          <div>{{upPub.object}}</div>
        </div>
        <div class="icons">
          <img src="./../../assets/img/fire.png" alt="">
          <div>
            <img src="./../../assets/img/contacts.png" alt="">
          </div>
        </div>
      </div>
    </ng-container>

    <div class="cards">
      <div class="card" *ngFor="let pub of pubs">
        <div class="card-img">
          <img [src]="generateUrl(pub.attachment)" alt="">
        </div>
        <div class="title">
          {{pub.title}}
          <div class="icons">
            <img src="./../../assets/img/fire.png" alt="">
            <div>
              <img src="./../../assets/img/contacts.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>