<ion-content>
  <div class="header">
    <div class="icon-left">
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
    </div>
    <div class="icon-center">
      <img src="./../../assets/img/Icone-centrale.png" alt="">
    </div>
    <div class="icon-right">
      <img src="./../../assets/img/transfer.png" alt="">
      <img src="./../../assets/icon/share.svg" alt="">
    </div>
  </div>

  <div class="body">
    <div class="baniere">
      <img src="./../../assets/img/gens-heureux-dansent-dans-concert-discotheque_31965-114.jpg" alt="">
    </div>

    <div class="description">
      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eum dolores amet? Praesentium ducimus deserunt
        nemo, vitae eaque enim aspernatur voluptates accusantium amet porro reiciendis alias consequatur, in quisquam
        beatae.
      </div>
      <div class="icons">
        <img src="./../../assets/img/fire.png" alt="">
        <div>
          <img src="./../../assets/img/contacts.png" alt="">
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="card-img">
          <img src="./../../assets/img/500x500.jpg" alt="">
        </div>
        <div class="title">
          Vente privé Dakar
          <div class="icons">
            <img src="./../../assets/img/fire.png" alt="">
            <div>
              <img src="./../../assets/img/contacts.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="./../../assets/img/5d6ef17345d160.81479271.jpeg" alt="">
        </div>
        <div class="title">
          Vente privé Dakar
          <div class="icons">
            <img src="./../../assets/img/fire.png" alt="">
            <div>
              <img src="./../../assets/img/contacts.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="./../../assets/img/500x500.jpg" alt="">
        </div>
        <div class="title">
          Vente privé Dakar
          <div class="icons">
            <img src="./../../assets/img/fire.png" alt="">
            <div>
              <img src="./../../assets/img/contacts.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="./../../assets/img/5d6ef17345d160.81479271.jpeg" alt="">
        </div>
        <div class="title">
          Vente privé Dakar
          <div class="icons">
            <img src="./../../assets/img/fire.png" alt="">
            <div>
              <img src="./../../assets/img/contacts.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>