<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab"></ion-back-button>
    </ion-buttons>
    <ion-title>Professeur Sakho</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-badge slot="end" color="light" class="right">Bonjour Professeur,<br>J'espère que tu vas bien</ion-badge>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="./../../assets/img/pp.svg" alt="">
    </ion-avatar>
    <ion-badge slot="start" class="left">Oui je vais bien</ion-badge>
    <p>
      <ion-note>7:20</ion-note>
    </p>
  </ion-item>
  <ion-item lines="none">
    <ion-badge slot="end" color="light" class="right">L'applicaton sera,<br>terminé la fin du mois ?</ion-badge>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="./../../assets/img/pp.svg" alt="">
    </ion-avatar>
    <ion-badge slot="start" class="left">Oui Doyen</ion-badge>
    <p>
      <ion-note>7:23</ion-note>
    </p>
  </ion-item>
  <ion-item lines="none">
    <ion-badge slot="end" color="light" class="right">Merci mon prof</ion-badge>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="./../../assets/img/pp.svg" alt="">
    </ion-avatar>
    <ion-badge slot="start" class="left">...</ion-badge>
    <p>
      <ion-note>7:29</ion-note>
    </p>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="item">
      <ion-input placeholder="Votre message"></ion-input>
      <div class="img-send">
        <img src="./../../assets/icon/send.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>