ion-content {
    --padding-top: 20px;
    --padding-bottom: 60px;
    --padding-start: 10px;
    --padding-end: 10px;
    .top {
        margin-bottom: 20px;
        .header {
            display: flex;
            img {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
            h4 {
                font-size: 15px;
                font-weight: bold;
            }
        }
        p {
            font-size: 13px;
            font-weight: bold;
        }
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: var(--ion-color-primary);
    }
    .text {
        font-size: 13px;
        text-align: justify;
    }
}