<ion-content>
  <div class="top">
    <div class="header">
      <img src="./../../../../assets/icon/google-place .png" alt="">
      <h4>{{event?.locationAccuracy}}</h4>
    </div>
    <p>{{event?.catchyPhrase}}</p>
  </div>
  <h3>{{event?.name | uppercase}}</h3>
  <div class="text">
    <p>
      {{event?.description}}
    </p>
  </div>
</ion-content>
