<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouvelles</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Oswald Cobblepot</h2>
          <ion-note slot="end">7:00</ion-note>
        </div>
        <div class="para">
          <p>I'm the king of Gotham !</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Fish Mooney</h2>
          <ion-note slot="end">5:35</ion-note>
        </div>
        <div class="para">
          <p>Please don't call me "babes."</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Barbara Kean</h2>
          <ion-note slot="end">Hier</ion-note>
        </div>
        <div class="para">
          <p>It's Gatham, baby, we've all got flair.</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Edward Nigma</h2>
          <ion-note slot="end">Hier</ion-note>
        </div>
        <div class="para">
          <p>No body, no crime</p>
          <div>5</div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Selina Kyne</h2>
          <ion-note slot="end">Samedi</ion-note>
        </div>
        <div class="para">
          <p>Cat got your tongue ?</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item lines="none" routerLink="/tab/discussion">
      <ion-label>
        <div class="header">
          <h2>Harvey Bullock</h2>
          <ion-note slot="end">Samedi</ion-note>
        </div>
        <div class="para">
          <p>I thought, i was supposed to be the bad guy here ?</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" color="warning"></ion-icon>
        <ion-label color="warning">Supprimer</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>