ion-toolbar {
    ion-title {
        font-weight: 500;
        text-align: center;
    }

    ion-icon {
        color: #000000;
        width: 20px;
    }
    ion-back-button {
        color: #000000;
    }
}

ion-label {
    margin: 15px 10px 15px 0;

    .header {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 18px;
        }
        ion-note {
            font-size: 14px;
        }
    }
    .para {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #c4c4c4;
        padding: 3px 0;
        align-items: center;
        div {
            width: 18px;
            background: var(--ion-color-primary);
            color: var(--ion-color-warning);
            height: 20px;
            text-align: center;
            padding: 1px 0;
            font-size: 12px;
            font-weight: bold;
            border-radius: 5px;
        }
    }
}

ion-item-option {
    position: relative;
    width: 80px;
    ion-icon {
        position: absolute;
        top: 13px;
        left: 18px;
    }
    ion-label {
        position: absolute;
        font-size: 12px;
    }
}   