ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #f3f3f3;
    --padding-bottom: 0;
}
.topbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    margin-top: 65px !important;
    padding-bottom: 30px;
    .event {
        background: #ffffff;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        box-shadow: 1px 6px 20px #ADA9A9;
        margin: 0 0 15px;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 5px 0;
            border: 0.5px solid rgba(0, 0, 0, 0.13);
            .header-left {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 25px;
                    margin: 0;
                }
                .event-info {
                    display: flex;
                    font-size: 12px;
                    align-items: center;
                    img {
                        width: 11px;
                        height: 11px;
                        margin: 5px;
                    }
                    img:first-child {
                        margin-left: 0;
                    }
                    .bar {
                        width: 1px;
                        background: black;
                        margin: 0 0 0 4px;
                        height: 12px;
                    }
                    a {
                        margin: 0 5px;
                        text-decoration: underline;
                        color: blue;
                        cursor: pointer;
                    }
                }
            }
            .header-right {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        p {
            font-weight: bold;
            font-size: 9px;
            line-height: 16px;
            color: #B60808;
            margin: 0;
            padding: 0 5px;
        }
        .event-img {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            img {
                width: 100%;
                height: 280px;
                margin: 0 0 -8px;
            }
        }
        .footer {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icons {
                
                .comment {
                    position: relative;
                    p {
                        margin: 0;
                        position: absolute;
                        left: -3px;
                        font-size: 10px;
                        color: var(--ion-color-primary);
                    }
                }
                img {
                    margin: 0 30px;
                }
            }
            .button {
                ion-button {
                    color: white;
                    --padding-bottom: 0px;
                    --padding-top: 0;
                    --padding-start: 10px;
                    --padding-end: 10px;
                    font-size: 10px;
                }
            }
        }
    }
    .top {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0 5px;
        .header {
            display: flex;
            img {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
            h4 {
                font-size: 15px;
                font-weight: bold;
            }
        }
        p {
            font-size: 13px;
            font-weight: bold;
        }
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: var(--ion-color-primary);
        padding: 0 5px;
    }
    .text {
        font-size: 13px;
        text-align: justify;
        padding: 0 5px;
    }
}

.update {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #ffffff;
    padding: 8px;
    p {
        margin: 0;
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}