<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/tab">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="event">
      <div class="header">
        <div class="header-left">
          <h3>{{event?.name}}</h3>
          <div class="event-info">
            <img src="./../../../assets/icon/calendar-small.png" alt="">
            O9 Novembre 2019
            <div class="bar"></div>
            <img src="./../../../assets/icon/clock.png" alt="">
            15h 00
            <div class="bar"></div>
          </div>
        </div>
        <div class="header-right">
          <img src="./../../../assets/icon/group.png" alt="">
        </div>
      </div>
      <p>{{event?.catchyPhrase}}</p>
      <div class="event-img">
        <img src="{{generateUrl(event?.poster?.md)}}" alt="">
      </div>
      <div class="footer">
        <div class="icons">
          <div class="discussion">
            <img src="./../../../assets/icon/discussion (5) 1.png" alt="">
          </div>
        </div>
        <div class="button">
          <ion-button class="btn" shape="round" routerLink="/cards/transfer-acces/{{eventId}}">Transfèrer votre accès
          </ion-button>
        </div>
      </div>
    </div>
    <div class="top">
      <div class="header">
        <img src="./../../../../assets/icon/google-place .png" alt="">
        <h4>{{event?.address}}</h4>
      </div>
      <p>{{event?.locationAccuracy}}.</p>
    </div>
    <h3>DESCRIPTION WHITE MOOD</h3>
    <div class="text">
      <p>
        {{event?.description}}
      </p>
    </div>
    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>