<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="body-content">
      <div class="info">
        <img src="./../../../assets/icon/info.png" alt="">
      </div>

      <div class="center">
        <p>Cette action va générer un QR code qui peut etre utilisé pour l’achat de vos billets et pour le controle
          d’accès le jour
          de votre événement. <b>Le QR est temporaire et sera valable que pour 48h</b>.</p>

        <p>Assurez vous que votre événement puisse tenir
          dans ce délai pour risque de perte de votre billet.</p>
      </div>
      <div class="confirm">
        Etes-vous sure de vouloir effectuer cette action ?
      </div>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/cards/view-qr-code">OUI</ion-button>
        <ion-button class="btn" shape="round" routerLink="/cards">NON</ion-button>
      </div>
    </div>
  </div>

</ion-content>