ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91vh;
    padding: 20px;
    .body-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .info {
            margin-bottom: 30px;
        }
        .center {
            font-size: 12px;
            text-align: center;
            b {
                display: block;
            }
        }
        .confirm {
            font-size: 14px;
            font-weight: 600;
            color: var(--ion-color-primary);
            margin-top: 20px;
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
            margin: 50px 0 0;
            ion-button {
                --padding-start: 30px;
                --padding-end: 30px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                --background: var(--ion-color-warning);
                font-size: 12px;
                --box-shadow: 1px 3px 5px #87898c;
            }
            ion-button:first-child {
                --background: #b50202;
                color: #ffffff;
            }
        }
    }
}