ion-content {
    --background: #e5e5e5;
}

.baniere {
    img {
        height: 325px;
    }
}

.white-space {
    height: 50px;
    box-shadow: 0 3px 10px #d4cfcf;
    border-bottom: 1px solid #d4cfcf;
}

ion-item {
    --padding-top: 5px;
    --padding-bottom: 0;
    --padding-start: 0;
    --background: transparent;
    .profil {
        width: 45px;
        height: 45px;
        overflow: hidden;
        margin-left: 30px;
        border-radius: 50%;
        img {
            margin: -14px 0 0 -78px;
            min-width: 200px;
        }
    }
    ion-label {
        text-align: center;
        margin: 20px;
        color: var(--ion-color-primary);
    }
}

ion-toolbar {
        text-align: center;
        --background: var(--ion-color-primary);
        color: white;
        height: 50px;
}