<ion-content>
  <div class="baniere">
    <img src="./../../../../assets/img/5d6ef17345d160.81479271.jpeg" alt="">
  </div>
  <div class="white-space">
  </div>
  <ion-item>
    <div class="profil">
      <img src="./../../../../assets/img/young-black-student-man.jpg" alt="">
    </div>
    <ion-label>
      <div>Ousmane <b>Sakho</b></div>
    </ion-label>
  </ion-item>
  <ion-item>
    <div class="profil">
      <img src="./../../../../assets/img/young-black-student-man.jpg" alt="">
    </div>
    <ion-label>
      <div>Ousmane <b>Sakho</b></div>
    </ion-label>
  </ion-item>
  <ion-item>
    <div class="profil">
      <img src="./../../../../assets/img/young-black-student-man.jpg" alt="">
    </div>
    <ion-label>
      <div>Ousmane <b>Sakho</b></div>
    </ion-label>
  </ion-item>
  <ion-item>
    <div class="profil">
      <img src="./../../../../assets/img/young-black-student-man.jpg" alt="">
    </div>
    <ion-label>
      <div>Ousmane <b>Sakho</b></div>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    Quitter le groupe
  </ion-toolbar>
</ion-footer>