ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
    .body-content {
        padding: 30px 40px;
        .title {
            background: #30A706;
            h4 {
                font-size: 19px;
                margin: 0;
                padding: 10px;
                position: relative;
                // display: flex;
                // align-items: center;
                color: #ffffff;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                height: 53px;
                text-align: center;
            }
            img {
                position: absolute;
                left: 10px;
                width: 30px;
            }
        }
        .choice {
            color: black;
            margin: 35px 0 15px;
            p {
                margin-bottom: 2px;
                font-size: 12px;
                font-weight: 600;
            }
            ion-item {
                --background: transparent;
                --padding-start: 5px;
                --padding-en: 20px;
                width: 100%;
                text-align: center;
                font-size: 14px;
                ion-input {
                    --placeholder-color: #000000;
                    --placeholder-opacity: 1;
                    --padding-bottom: 0;
                }
                ion-label {
                    margin: 0 0 -10px;
                }
                ion-select {
                    font-size: 12px;
                    --padding-start: 0px;
                    --padding-bottom: 0;
                    --padding-end: 5px;
                    margin: 0;
                }
            }
            .triangle {
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-top: 10px solid black;
                border-right: 7px solid transparent;
                margin-left: -17px;
                margin-bottom: -12px;
            }
        }
        .montant {
            text-align: end;
            p {
                font-size: 12px;
                span {
                    color: #FD0D0D;
                    font-size: 16px;
                }
            }
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0 0;
            .livraison {
                text-align: center;
                font-size: 12px;
            }
            ion-button {
                --padding-start: 30px;
                --padding-end: 30px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                font-size: 12px;
                --background: #30A706;
                --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            ion-button:first-child {
                --background: #b50202;
                color: #ffffff;
            }
        }
    }
}

.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    p {
        margin: 8px 0;
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}