<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="body-content">
      <div class="title">
        <h4>
          <img src="./../../../assets/icon/buy 2.png" alt="">
          Commander une carte
        </h4>
      </div>
      <div class="choice">
        <ion-item>
          <ion-label>Type de carte</ion-label>
          <ion-select name="type" ngModel>
            <ion-select-option value="gold">Prémium</ion-select-option>
            <ion-select-option value="premium">Gold</ion-select-option>
          </ion-select>
          <div class="triangle"></div>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Quantité"></ion-input>
          <div class="triangle"></div>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Ville"></ion-input>
          <div class="triangle"></div>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Quartier"></ion-input>
          <div class="triangle"></div>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Précision de d'adresse"></ion-input>
          <div class="triangle"></div>
        </ion-item>
      </div>
      <div class="montant">
        <p>Total à payer* <span>1 500 F</span></p>
      </div>

      <div class="buttons">
        <div class="livraison">*La livraison est inclue</div>
        <ion-button class="btn" shape="round" routerLink="/cards/payment">Payer</ion-button>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>