<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="flexbox">
      <div class="profil">
        <img src="./../../../assets/icon/lock (1).png" alt="">
      </div>

      <ion-grid>
        <ion-row>
          <img src="./../../../assets/icon/securit.png">
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="Votre mot de passe"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <img src="./../../../assets/icon/securit.png">
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="Nouveau mot de passe"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <img src="./../../../assets/icon/securit.png">
          <ion-col>
            <ion-item>
              <ion-input type="number" placeholder="Confirmer votre mot de passe"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/account">Annuler</ion-button>
        <ion-button class="btn" shape="round" routerLink="/account">Valider</ion-button>
      </div>
    </div>

    <div class="update">
      <p>Mise à jour disponible</p>
    </div>
  </div>
</ion-content>