ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
    .buttons {
        display: flex;
        justify-content: flex-end;
        margin: 30px 0;
        ion-button {
            --padding-start: 30px;
            --padding-end: 30px;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --background: var(--ion-color-warning);
            font-size: 12px;
            --box-shadow: 1px 3px 5px #87898c;
        }
        ion-button:first-child {
            --background: #b50202;
            color: #ffffff;
        }
    }
}

.profil {
    display: flex;
    justify-content: center;
    padding: 40px;
    img {
        width: 80px;
    }
}

ion-grid {

    ion-row {
        align-items: center;
        margin: 0 30px;
        position: relative;
        img {
            position: absolute;
            width: 18px;
            bottom: 10px;
            left: 0;
        }
    }
    ion-col {
        padding-left: 30px;
        ion-input {
            --placeholder-color: #000000;
            --placeholder-opacity: 1;
            font-size: 14px;
            --padding-bottom: 2px;
            text-align: center;
        }
        ion-item {
            --background: transparent;
            --padding-start: 0;
            --padding-end: 0;
            ion-label {
                font-size: 14px;
                color: black;
            }
        }
    }
}
.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    p {
        margin: 8px 0;
        color: var(--ion-color-primary);
    }
}