<ion-header>
  <ion-toolbar>
    <ion-title>Modifier mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content {{messageResult.status}}" *ngIf="messageResult">
    {{messageResult.message}}
  </div>
  <div class="content" *ngIf="!token && !updateState">
    <ion-input name="email" [(ngModel)]="email" placeholder="Entrer votre email"></ion-input>
    <ion-button (click)="resetPassword()">Envoyer</ion-button>
  </div>
  <div class="content" *ngIf="token && !updateState">
    <ion-input name="email" [(ngModel)]="resetCode" placeholder="Code de confirmation"></ion-input>
    <ion-input name="password" placeholder="Nouveau mot de passe" [(ngModel)]="password"></ion-input>
    <ion-input type="hidden" name="resetToken" [(ngModel)]="token" class="hidden"></ion-input>
    <ion-button (click)="updatePassword()">Changer le mot de passe</ion-button>
  </div>
  <div style="text-align: center;">
    <a routerLink="/login">Retourner à la page de connexion</a>
  </div>
</ion-content>
