<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="body-content">
      <div class="title">
        <img src="./../../../assets/icon/payment.png" alt="">
        <h4>Transférer votre accès</h4>
      </div>
      <div class="card-number">
        <p>Entrez le numéro de carte ou scannez votre carte</p>
        <ion-item>
          <ion-input type="number" [(ngModel)]="cardNumber"></ion-input>
        </ion-item>
        <ion-icon name="camera-outline" routerLink="/cards/generate-qr-code"></ion-icon>
      </div>

      <div class="buttons">
        <ion-button class="btn" shape="round" routerLink="/events/event/{{eventId}}">Annuler</ion-button>
        <ion-button class="btn" shape="round" (click)="createCard()">Valider</ion-button>
      </div>
    </div>
  </div>
</ion-content>