ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ececec;
    --padding-bottom: 0;
}
.topbar {
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 91vh;
    .body-content {
        padding: 30px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-size: 16px;
            }
            img {
                width: 60px;
                margin-bottom: 10px;
            }
        }
        .card-number {
                position: relative;
                margin: 60px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 12px;
                    margin: 0 0 -10px;
                }
                ion-item {
                    --background: transparent;
                    --padding-start: 5px;
                    margin: 0 20px 0 0;
                    width: 200px;
                    ion-input {
                        font-size: 14px;
                        --padding-bottom: 0;
                        margin: 0 0 -5px;
                    }
                }
                ion-icon {
                    position: absolute;
                    right: 25px;
                    bottom: 0;
                }
            }
        .buttons {
            margin: 20px 0 0;
            ion-button {
                --padding-start: 30px;
                --padding-end: 30px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                font-size: 12px;
                --background: var(--ion-color-warning);
                --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            ion-button:first-child {
                --background: #b50202;
                color: #ffffff;
            }
        }
    }
}

.update {
    text-align: center;
    background: #ffffff;
    margin: 60px 0 0;
    width: 100%;
    p {
        margin: 8px 0;
        font-size: 14px;
        color: var(--ion-color-primary);
    }
}
ion-content {
    --ion-background-color: transparent;
}