ion-back-button {
    color: #000000;
}

ion-toolbar {
    height: 60px;
}
ion-title {
    font-weight: 500;
    .subtitle {
        font-size: 12px;
        color: #8e8e8e;
        div {
            display: inline-block;
            width: 3px;
            height: 3px;
            background: #8e8e8e;
            border-radius: 50%;
            margin: 0 2px 2px;
        }
    }
}

ion-icon {
    color: #000000;
}

ion-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    p {
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 13px;
    }
    ion-avatar {
        height: 25px;
        width: 25px;
        margin: 7px 10px 0 -10px;
    }
}

ion-badge {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    padding: 10px 15px;
}
.right {
    font-weight: 400;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}
.left {
    font-weight: 400;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    box-shadow: 0px 3px 10px grey;
}

ion-footer {
    ion-toolbar {
        --background: #f4f4f4;
        --padding-top: 0;
        --padding-bottom: 0;
    }
}

.item {
    display: flex;
    ion-input {
        width: 80%;
        --padding-start: 10px;
        --background: #f4f4f4;
        font-size: 18px;
    }
    .img-send {
        width: 16%;
        background: var(--ion-color-primary);
        text-align: center;
        padding: 8px;

        img {
            height: 37px;
        }
    }
    
}