ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ffffff;
    --padding-bottom: 0;
}
.topbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.content {
    background: #FFFFFF;
    color: var(--ion-color-primary);
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    padding: 20px;
    margin: 0 -15px;
    .topbar {
        display: flex;
        justify-content: space-between;
        border-bottom: #C4C4C4 solid 1px;
        background: #ffffff;
        padding: 0 10px;
        .item {
            cursor: pointer;
            font-weight: bold;
            color: var(--ion-color-primary);
            transition: color 0.3s;
            p {
                display: inline-block;
                margin: 0 25px 5px;
            }
        }
        .item.active {
            border-bottom: 4px solid  var(--ion-color-warning);
        }
        .item:hover {
            color:  var(--ion-color-primary);
        }
    }
}

.body {
    margin-top: 65px;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
}

.slides {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    margin: 15px;
}
.slide {
    padding: 10px;
}

.progress-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: transparent;
    padding: 8px 0 10px;
    .billet {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.271);
        background-color: rgba(255, 255, 255, 0.281);
        margin: 0 3px;
    }
    .billet.active {
        background: #FFFFFF;
    }
}

.content_body {
    .buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .item {
            color: #c4c4c4;
            cursor: pointer;
            transition: color 0.3s;
            p {
                display: inline-block;
                margin: 0 25px;
            }
        }

        .item.active {
            color: var(--ion-color-primary);
            font-weight: bold;
            border: 1px solid;
            border-radius: 25px;
        }
        .item:hover {
            color: var(--ion-color-primary);
        }
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        .card {
            width: 28%;
            height: 90px;
            box-shadow: 1px 1px 8px #d0c7c7;
            margin: 10px 8px;
            .card-img {
                padding: 12px 25px;
            }
            .title {
                background: var(--ion-color-warning);
                color: var(--ion-color-primary);
                font-size: 14px;
                text-align: center;
            }
        }
    }
}