<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/tab">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>

  <div class="body">
    <ion-slides *ngIf="pubs.length > 0" #slides (ionSlideDidChange)="onSlide(slides)" [options]="slideOpts"
      class="slides">
      <ion-slide class="slide" *ngFor="let pub of pubs" style="max-height: 200px;">
        <img [src]="generateUrl(pub.attachment)" alt="" style="max-height: 200px;">
      </ion-slide>
    </ion-slides>

    <div class="progress-bar">
      <div *ngFor="let pub of pubs; let i = index" [ngClass]="{'billet': true, 'active': currentIndex == i}"></div>
    </div>

    <div class="content">
      <div class="topbar">
        <div [ngClass]="{'item': true, 'active': news}" (click)="toggleNews()">
          <p>A venir</p>
        </div>
        <div [ngClass]="{'item': true, 'active': discussion}" (click)="toggleDiscussion()">
          <p>Recommandation</p>
        </div>
      </div>

      <div class="content_body">
        <ng-container *ngIf="news">
          <app-come-up></app-come-up>
        </ng-container>
        <ng-container *ngIf="discussion">
          <app-recommendation></app-recommendation>
        </ng-container>

        <div class="buttons">
          <div [ngClass]="{'item': true, 'active': categorie}" (click)="toggleCategorie()">
            <p>Catégories</p>
          </div>
          <div [ngClass]="{'item': true, 'active': preference}" (click)="togglePreference()">
            <p>Préférences</p>
          </div>
        </div>

        <div class="cards">
          <div class="card" routerLink="/events/{{cat._id}}" *ngFor="let cat of categories">
            <div class="card-img">
              <img src="./../../../assets/img/video.png" alt="">
            </div>
            <div class="title">
              {{cat.name}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>