<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/tab/news">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="" routerLink="/notification">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/news">
        <img src="./../../assets/icon/share.svg" alt="">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="body-header">
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="profils">
        <div class="profil">
          <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          <img src={{generateUrl(currentUser.avatar.md)}} *ngIf="currentUser?.avatar?.md" />
          <img src='./assets/img/empty-profile.png' alt="" *ngIf="!currentUser?.avatar?.md" />
        </div>
        <div class="profil-info">
          <h5>{{currentUser?.firstName}} {{currentUser?.lastName}}</h5>
          <div class="tags">
            <div class="participant">
              <h5>0</h5>
              <p>Participés</p>
            </div>
            <div class="favorites">
              <h5>0</h5>
              <p>Favoris</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <ion-button class="btn" shape="round">Historique du compte</ion-button>
      <select name="" id="">
        <option value="">Tout</option>
      </select>
    </div>
    <div class="body-content">
      <div class="dates">
        <div class="date">
          <h5>Du</h5>
          <ion-item>
            <ion-datetime displayFormat="DD MM YYYY" display-timezone="utc" required></ion-datetime>
          </ion-item>
          <img src="./../../assets/icon/calendar (1).png" alt="">
        </div>
        <div class="date">
          <h5>AU</h5>
          <ion-item>
            <ion-datetime displayFormat="DD MM YYYY" display-timezone="utc" required></ion-datetime>
          </ion-item>
          <img src="./../../assets/icon/calendar (1).png" alt="">
        </div>
      </div>
      <div class="cards">
        <div class="card" *ngFor="let reservation of reservations; let i = index"
          routerLink="/events/event/{{reservation.event._id}}">
          <div class="content-left">
            <h5>{{reservation.event.name}}</h5>
            <p class="date">
              {{reservation.event.startDate | date : 'dd/MM/yyyy'}}
            </p>
            <p class="hour">
              {{reservation.event.startDate | date : 'hh'}}h {{reservation.event.startDate | date : 'mm'}}
            </p>
          </div>
          <div class="bar"></div>
          <div class="content-right">
            <p class="number">
              Trans N° {{i+1}}
            </p>
            <p class="vip">
              Accès {{reservation.ticket.name}}
            </p>
            <p class="card-number">
              Carte N° {{reservation.card.number}}
            </p>
          </div>
        </div>
      </div>
      <div class="cards_reservation">
        <div class="card_reservation" *ngFor="let reservation of reservations; let i = index"
          routerLink="/events/event/{{ reservation.event._id}}">
          <div class="content-left">
            <h5>{{reservation.event.name}}</h5>
            <p class="date">
              {{reservation.event.startDate | date : 'dd/MM/yyyy'}}
            </p>
          </div>
          <div class="bar"></div>
          <div class="content-center">
            <div>
              <p class="number">
                Trans N° {{i+1}}
              </p>
              <p class="vip">
                Accès {{reservation.ticket.name}}
              </p>
              <p class="card-number">
                30% Réservé
              </p>
            </div>
          </div>
          <div class="bar"></div>
          <div class="content-right">
            <div class="rest">
              Reste = 4 500 F
            </div>
            <div class="complet">
              <p>Compléter votre réservation</p>
              <div>
                <img src="./../../../assets/icon/reservation (1).png" alt="">
              </div>
            </div>
            <p class="date-reservation">
              <i>Avant le 10/07/2020</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="update">
    <p>Mise à jour disponible</p>
  </div>
</ion-content>