ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

.topbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    padding-bottom: 30px;
    margin-top: 65px !important;
    .body-header {
        padding: 25px 0 0;
        position: relative;
        ion-item {
            position: absolute;
            right: -5px;
            --color: #000000;
            top: 0px;
            ion-button {
                margin: 0 -10px 0;
            }
        }
        .profils {
            display: flex;
            .profil {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 25px 0 10px;
                ion-icon {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                }
                img {
                    width: 145px;
                }
            }
        }
        .profil-info {
            width: 140px;
            h5 {
                font-weight: 600;
                margin: 0 0 20px;
            }
            .tags {
                display: flex;
                justify-content: space-between;
                .participant {
                    h5 {
                        font-weight: 600;
                        margin: 0 0 3px;
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        color: var(--ion-color-medium);
                    }
                }
                .favorites {
                    h5 {
                        font-weight: 600;
                        margin: 0 0 3px;
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        color: var(--ion-color-medium);
                    }
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        ion-button {
            --padding-start: 7px;
            --padding-end: 7px;
            --background: var(--ion-color-warning);
            font-size: 10px;
            --box-shadow: 1px 3px 4px #adb5bd;
        }
        select {
            border: none;
            background: transparent;
        }
    }
    .body-content {
        margin: 10px 0 0;
        .dates {
            display: flex;
            color: #000000;
            .date {
                display: flex;
                align-items: flex-end;
                h5 {
                    font-size: 12px;
                    margin: 0 5px 0 15px;
                }
                ion-item {
                    --background: #ececec;
                    height: 25px;
                    border-bottom: 1px solid;
                    width: 80px;
                    --padding-start: 0;
                    --padding-end: 0;
                    font-size: 10px;
                    ion-label {
                        color: #000000;
                        font-size: 14px;
                        margin-bottom: 15px;
                    }
                    ion-datetime {
                        margin-bottom: 10px;
                        padding-left: 2px;
                        font-size: 12px;
                    }
                }
                img {
                    width: 20px;
                }
            }
        }
        .cards {
            padding: 5px;
            margin: 10px 0;
            .card {
                display: flex;
                justify-content: center;
                background: #ececec;
                flex-direction: row;
                padding: 6px 0 2px;
                align-items: center;
                box-shadow: 1px 3px 4px #adb5bd;
                border-radius: 15px;
                margin: 0 0 10px;
                .content-left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 120px;
                    h5 {
                        font-weight: 600;
                        font-size: 12px;
                        margin: 0 0 6px;
                    }
                    .date {
                        font-size: 13px;
                        margin: 0;
                    }
                    .hour {
                        margin: 0;
                        font-size: 10px;
                    }
                }
                .bar {
                    width: 1px;
                    height: 45px;
                    background: var(--ion-color-warning);
                    margin: 0px 30px;
                }
                .content-right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .number {
                        margin: 0 0 0;
                        font-size: 12px;
                        color: var(--ion-color-primary);
                    }
                    .vip {
                        margin: 0;
                        color: var(--ion-color-warning);
                        font-size: 11px;
                    }
                    .card-number {
                        margin: 0;
                        font-size: 13px;
                        color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}

.cards_reservation {
    padding: 5px;
    margin: 10px 0;
    .card_reservation {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
        align-items: center;
        background: #e5e5e5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 0 0 15px;
        border: none;
        .content-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 120px;
            h5 {
                font-weight: 600;
                font-size: 12px;
                margin: 0 0 6px;
            }
            .date {
                font-size: 12px;
                margin: 0;
            }
        }
        .bar {
            width: 1px;
            height: 55px;
            background: #000000;
            margin: 0px 10px;
        }
        .content-center {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .number {
                margin: 0 0 0;
                font-size: 10px;
                color: var(--ion-color-primary);
            }
            .vip {
                margin: 0;
                color: #000000;
                font-size: 12px;
            }
            .card-number {
                margin: 0;
                font-size: 10px;
                color: var(--ion-color-danger);
            }
            .img {
                margin: 10px 0 0 30px;
                img {
                    width: 30px;
                    transform: rotate(-39.89deg);
                }
            }
        }
        .content-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            .rest {
                font-size: 10px;
                color: var(--ion-color-danger);
            }
            .complet {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    margin: 0;
                    font-size: 6px;
                }
                img {
                    width: 50px;
                    height: 40px;
                    margin: -8px 0;
                }
            }
            .date-reservation {
                color: var(--ion-color-danger);
                font-size: 8px;
                font-weight: 500;
                margin: 0 5px;
            }
        }
    }
}

.update {
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f3f3f3;
    p {
        margin: 8px;
        color: var(--ion-color-primary);
    }
}