.frame {
        color: #d5d5d5;
        height: 350px;
        width: 350px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }