ion-menu-button {
    color: #FFFFFF;
    margin-left: -9px;
}

ion-content {
    --background: #ffffff;
    --padding-bottom: 0;
}
.topbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to left, var(--ion-color-primary), rgba(0, 123, 255, 0.75));
    padding: 0 0 15px;
    color: #FFFFFF;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 -1px;
        border-bottom: 2px solid;
        margin: 0 15px;
        img {
            width: 30px;
        }
        .icon-left {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-right {
            display: flex;
            justify-content: space-between;
            width: 100px;
            height: 35px;
            margin: 7px 0;
            img {
                width: 30px;
            }
        }
        .icon-center {
            overflow: hidden;
            border: 5px solid #245baa;
            border-radius: 50%;
            width: 47px;
            padding: -2px;
            height: 47px;
            position: relative;
            left: 8px;
            top: 16px;
            img {
                position: absolute;
                left: -135px;
                min-width: 300px;
            }
        }
    }
}

.body {
    margin-top: 65px !important;
    background: #ffffff;
    padding: 5px 10px;

}
.events {
    .title {
        text-align: center;
        color: var(--ion-color-primary);
        padding: 5px 0 0;
        h5 {
            font-size: 17px;
            font-weight: 600;
        }
        
    }
    .event-img {
        box-shadow: 0 3px 8px #bfbcbc;
        margin: 0 -10px;
        border-top: 3px solid var(--ion-color-warning);
        border-bottom: 3px solid var(--ion-color-warning);
    }
    .event-icon {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0;
        padding: 5px 0 15px;
        border-bottom: gray 1px solid;
        .icons {
            display: flex;
            .fire {
                position: relative;
                p {
                    position: absolute;
                    top: 0;
                    margin-bottom: 0;
                    color: var(--ion-color-primary);
                    font-size: 9px;
                }
            }
            .share {
                position: relative;
                p {
                    position: absolute;
                    top: 0;
                    margin-bottom: 0;
                    color: var(--ion-color-primary);
                    font-size: 9px;
                }
            }
            img {
                width: 20px!important;
                height: 20px;
                margin: 0 15px;
            }
            .contact {
                width: 40px;
                overflow: hidden;
                height: 20px;
                max-width: none;
                img {
                    min-height: 50px;
                    min-width: 30px;
                    margin-top: -4px;
                }
            }
        }
        .more-info {
            background: var(--ion-color-primary);
            color: #ffffff;
            font-size: 10px;
            border-radius: 40px;
            text-align: center;
            p {
                margin: 0;
                padding: 1px 5px;
            }
        }
        .event-infos {
            display: flex;
            div {
                background: var(--ion-color-primary);
                color: #ffffff;
                font-size: 8px;
                border-radius: 40px;
                text-align: center;
                padding: 1px 5px;
                height: 15px;
                margin: 0 2px;
                p {
                margin: 0;
                padding: 0 5px;
            }
            }
            div:first-child {
                background: var(--ion-color-warning);
                color: var(--ion-color-primary);
            }
            div:nth-child(2) {
                font-weight: 600;
            }
        }
    }
    .date-infos {
        display: flex;
        justify-content: space-between;
        .hour {
            margin: 5px 0;
            div {
                height: 27px;
                width: 45px;
                background: #e4e4e4;
                text-align: center;
                padding-top: 5px;
                ion-icon {
                    font-size: 20px;
                    color: #000000;
                }
            }
            p {
                font-size: 10px;
                color: var(--ion-color-primary);
                font-weight: 600;
                margin-top: 5px;
            }
        }
        .calendar {
            margin: 5px 0;
            margin-left: 12%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                height: 27px;
                width: 45px;
                background: #e4e4e4;
                text-align: center;
                padding-top: 3px;
                img {
                    width: 18px;
                    height: 16px;
                    color: #000000;
                }
            }
            p {
                font-size: 10px;
                color: var(--ion-color-primary);
                font-weight: 600;
                margin-top: 5px;
            }
        }
        .local {
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            div {
                height: 27px;
                width: 45px;
                background: #e4e4e4;
                text-align: center;
                padding-top: 3px;
                img {
                    width: 19px;
                    height: 19px;
                }
            }
            p {
                font-size: 10px;
                color: var(--ion-color-primary);
                font-weight: 600;
                margin-top: 5px;
            }
        }
    }
    .para {
        padding: 0 30px;
        p {
            font-size: 9px;
            color: var(--ion-color-primary);
            line-height: 12px;
            text-align: justify;
        }
    }
    .infos {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        font-size: 10px;
        margin-bottom: 15px;
        .comments {
            color: var(--ion-color-primary);
            font-weight: bold;
        }
        .tri {
            color: var(--ion-color-primary);
        }
    }
    .add-comment {
        form {
            position: relative;
            padding-left: 20px;
            .user {
                position: absolute;
                width: 36px;
                height: 32px;
                top: 10px;
                left: 35px;
                box-shadow: 0 3px 8px #928888;
                border-radius: 10px;
            }
            .send {
                position: absolute;
                width: 25px;
                height: 32px;
                top: 10px;
                right: 35px;
            }
        }
        #comment {
            width: calc(100% - 20px);
            border: 2px solid var(--ion-color-warning);
            border-radius: 20px;
            padding-left: 64px;
            padding-right: 40px;
            padding-top: 13px;
            height: 55px;
            color: black;
            box-shadow: 0 3px 10px #928888;
        }
        #comment::placeholder {
            color: var(--ion-color-primary);
        }
    }
}
hr {
    margin-bottom: 0;
}