<ion-content>
  <div class="topbar">
    <div class="header">
      <div class="icon-left">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="./../../assets/icon/message.svg" alt="" routerLink="/conversation">
      </div>
      <div class="icon-center">
        <img src="./../../assets/img/Icone-centrale.png" alt="">
      </div>
      <div class="icon-right">
        <img src="./../../assets/img/transfer.png" alt="" routerLink="/tab">
        <img src="./../../assets/icon/share.svg" alt="" (click)="shareYourCurrentApp()">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="events" *ngFor="let reservation of reservations">
      <div class="title">
        <h5>{{reservation?.event?.name}}</h5>
      </div>
      <div class="event-img">
        <img [src]="generateUrl(reservation?.event?.poster?.md)" alt="">
      </div>
      <div class="event-icon">
        <div class="icons">
          <div class="fire">
            <p>234</p>
            <img src="./../../assets/img/fire.png" alt="">
          </div>
          <div class="share">
            <p>24</p>
            <img src="./../../assets/img/share.png" alt="">
          </div>
          <div class="contact">
            <img src="./../../assets/img/contacts.png" alt="">
          </div>
        </div>
        <div class="event-infos">
          <div class="">
            <p>Acheter</p>
          </div>
          <div>
            <p>Guichet ouvert</p>
          </div>
          <div>
            <p>Groupe</p>
          </div>
        </div>
      </div>
      <div class="date-infos">
        <div class="hour">
          <div>
            <ion-icon name="alarm-outline"></ion-icon>
          </div>
          <p>{{reservation?.event?.startDate | date : 'hh'}}h{{reservation?.event?.startDate | date : 'mm'}}</p>
        </div>
        <div class="calendar">
          <div>
            <img src="./../../assets/icon/calendar (1).png" alt="">
          </div>
          <p>{{reservation?.event?.startDate | date : 'dd/MM/yyyy'}} -
            {{reservation?.event?.endDate | date : 'dd/MM/yyyy'}}</p>
        </div>
        <div class="local">
          <div>
            <img src="./../../../assets/icon/location.svg" alt="">
          </div>
          <p>{{reservation?.event?.locationAccuracy}}</p>
        </div>
      </div>

      <div class="para">
        <p>{{reservation.description}}
        </p>
      </div>
      <div class="infos">
        <div class="comments">
          0 commentaires
        </div>
        <div class="tri">
          trier par:
          <select>
            <option value="">Les plus anciens</option>
          </select>
        </div>
      </div>
      <div class="add-comment">
        <form>
          <img class="user" src="./../../assets/img/user.jpg" alt="">
          <textarea name="comment" id="comment" placeholder="Ajouter un commentaire" ngModel></textarea>
          <img class="send" src="./../../assets/icon/send-blue.svg" alt="">
        </form>
      </div>
    </div>
    <hr>

    <hr>
  </div>
</ion-content>